/* CSS Document */
body{margin:0px;padding:0;font-size:12px;font-family:arial,"宋体";}
div{ margin:0 auto;}
p,form,ul,dl,ol,li,dt,dd,h1,h2,h3{margin:0;padding:0;list-style:none;} 
img{border:0;}
select,input{font:100% Tahoma,Helvetica,Arial,sans-serif; vertical-align:middle;}
.c{ height:0px; font-size:0;clear:both; overflow:hidden}
a{ color:#0000cc; text-decoration:none;}
a:hover{ color:#ff0000; text-decoration:underline;} 
.line{height:1px; overflow:hidden;background:url(line.gif) repeat-x;margin:15px 0;clear:both;float:none;}
.green{ color:#009900;}
.red{ color:#ff0000;}
.gray{ color:#aaa;}
.c66{ color:#666;}.c99{color:#999}
.fgrey{ color:#aaa;}
strong.green-1{ color:#009900; margin-right:6px;}
#footer{ text-align:center; padding:10px 0;}
#footer a{ margin:0 10px;}
#agre{border:1px solid #ddd; padding:10px;width:500px; margin:0 auto; _margin-top:8px}
#agre textarea{width:100%; height:130px; font-size:12px; line-height:160%; overflow-x:hidden; background:#fff; border:none}
.sc{ display:block;} .hc{ display:none;}
.fontbold{ font-weight:bold;}
.win1000{width:1000px;}
#container{}
.wraper-border{ background:url(wraper-border.gif) no-repeat; height:1px; overflow:hidden;}
#wraper{ background:url(wraper-bg.gif) right repeat-y; }
#header{ height:74px; margin: 0 auto; position:relative; overflow:hidden; }
#logo,#cityname,#logintext,#fb-new{position:absolute}#logintext{top:10px;right:10px;}#logintext a{display:inline-block;margin-left:5px;}
#headerinside{background:url(../../images/h_bg.gif) repeat-x;height:60px}
#logo{left:20px;top:12px;}
#logo img{ display:block;}
#cityname{ width:101px; height:39px;border-left:#f1f1f1 1px solid; top:18px;left:200px; padding-left:15px;}
#cityname span{font:24px/1.8 "微软雅黑","黑体", sans-serif; color:#666;}
#fb-new{ right:10px; bottom:17px; font-weight:bold;}
#fb-new a{ font-size:14px; color:#ff0000; text-decoration:underline;}
.tip{ background:url(tip-bg.gif) 0 0 no-repeat; height:37px; padding:0 0 0 40px;}
.tip span{ float:left; display:block; background:url(tip-bg.gif) right bottom no-repeat; padding:12px 20px 8px 10px; padding:15px 20px 7px 10px\9; *padding:15px 20px 8px 10px; _padding:15px 20px 8px 10px;}
.tip span em{ font-size:10px; font-style:normal;}
.w{width:1000px;margin:0 auto;clear:both}.s_title{border-bottom:1px solid #DBE0E3;}
/*图标按钮*/
.jf{background:url(../../images/grzx/index_back.gif) no-repeat -19px -14px; width:20px; vertical-align:middle; height:14px; padding-left:20px; cursor:pointer}
.ji{ background:#f00; padding:0px 2px; *padding:2px 2px 0px 2px; overflow:hidden; font-size:12px; text-align:center; color:#fff; margin-left:15px}
.tg{ background:#008000; padding:0px 2px; *padding:2px 2px 0px 2px; overflow:hidden; font-size:12px; text-align:center; color:#fff; margin-left:15px}
.btn-v2{ background:url(btn.gif) 0 -34px no-repeat; width:50px; padding:3px 0;  padding:5px 0 6px 0\0;  *padding:5px 0 3px 0;   _padding:3px 0 4px 0; text-align:center; font-size:12px; border:none; cursor:pointer; }
@media screen and (-webkit-min-device-pixel-ratio:0) {.btn-v2{padding:4px 0 7px 0} } 
.btn-v3{ background:url(btn.gif) 0 -59px no-repeat; width:92px; margin-right:4px; padding:3px 0;  padding:5px 0 6px 0\0;  *padding:4px 0 4px 0;  _padding:3px 0 4px 0; text-align:center; font-size:12px; border:none; cursor:pointer; }
@media screen and (-webkit-min-device-pixel-ratio:0) {.btn-v3{padding:4px 0 7px 0} } 
.butt,.xybutt{padding-right:1px;display:inline-block; font-weight:700;background:url(btn.gif) right top no-repeat;height:34px;}
.loginbox .butt{*top:8px; float:left; margin-right:5px;}
.btns,.xybtn{ padding:6px 20px 6px 20px; padding:10px 18px 6px 18px\0;  *padding:8px 10px 6px 10px; _ padding:6px 10px 4px 10px; display:block;background:url(btn.gif) 0 0 no-repeat;border:none; color:#fff;font-size:14px; font-weight:bold;cursor: pointer; margin:0}
@media screen and (-webkit-min-device-pixel-ratio:0) {.btns,.xybtn{padding:8px 20px 8px 20px;} } 
h2.balance-h2{ background-color:#f8f8f8; height:30px; line-height:30px; color:#000; font-size:14px; font-weight:bold; padding:0 10px; }
.inp {border: 1px solid #C8C8C8;font-size: 14px;height: 21px;line-height: 21px; margin-right: 3px;padding: 4px 3px;}
.btn-v4{padding-right:1px;display:inline-block;background:url(btn.gif) right -123px no-repeat;height:27px; vertical-align:middle; margin-right:15px;margin-top:10px;}
.btn-v4 input{display:block;background:url(btn.gif) 0 -123px no-repeat;border:none; color:#fff;font-size:12px;cursor: pointer; margin:0;padding:4px 10px;padding:7px 10px\9;*padding:5px 0}
#txtEducationInfoSave,#txtWorkedInfoSave,.btn-v2{ margin-top:10px;}
/*选项卡*/
.area_b{ height:27px; position:relative;}
span.btn-edit{ display:block; background:url(use-icon-2.gif) 0 -118px no-repeat; padding:0 0 0 20px;  position:absolute; right:0; bottom:5px; }
span#searfriend{ display:block;  position:absolute; right:0; bottom:5px; }
span.history-tip{display:block; position:absolute; right:0; bottom:5px; color:#666;}span.history-tip strong{color:#f00}
ul#area_nav{ height:27px; background:url(details-menu-bg.gif) bottom repeat-x; padding:0px 0 0 10px;}
ul#area_nav li{ float:left; margin:0 4px 0 0; display:inline-block; cursor:pointer;background:url(details-menu.gif) 100% -27px no-repeat; padding-right:2px;  }
ul#area_nav li a{ display:block;line-height:27px; font-size:12px; padding:0 15px; background:url(details-menu.gif) 0 -27px no-repeat;}
ul#area_nav li.selected{background-position:100% 100%; font-weight:bold; color:#000;}
ul#area_nav li.selected a{ background-position:0 100%; color:#000; text-decoration:none;}
ul#area_nav li.selected a:hover{ color:#000; text-decoration:none;}
.area_cz{background:#f8f8f8; padding:6px 10px; line-height:24px; }
.area_cz b a,.area_cz a b{ text-decoration:underline}
.area_cz select{ margin-right:10px;}
.area_bottom{ background-color:#f8f8f8; height:3px; overflow:hidden;}
/*分类信息列表*/
.basetb{ width:100%; border-collapse:collapse; border:none;  color:#000;}
.basetb th{text-align:left; height:30px; line-height:30px; padding:0 0 0 10px; font-weight:normal;color:#666; border-bottom:1px solid #f1f1f1;}
.basetb th.tit_cz, .qz th.tit_cz{ text-align:center; padding:0 0 0 10px; }
.basetb #tablehead td{padding:5px 2px}
.basetb td{padding:7px 0 7px 10px; border-bottom:1px solid #f1f1f1;vertical-align:top; line-height:1.8;}
.basetb td.v_m{vertical-align:middle}
.basetb td a{ text-decoration:none; font-size:14px; }
.basetb td p a{font-size:12px}
.basetb td a:hover{ text-decoration:underline;}
.basetb .cz,.qz .cz{text-align:center; margin-left:15px; padding-right:10px; white-space:nowrap;}
.basetb .czfb,.qz .czfb{text-align:right; padding-right:25px; white-space:nowrap;}
.basetb td #imgIsread{vertical-align:middle; margin:6px 2px 0; margin:5px 2px 0\0; *margin:5px 2px 0; _margin:5px 2px 0; max-width:20px; _width: expression(this.width > 20 ? '20px': true);}
.titletd.tc58{ color:#aaa; padding-top:5px}.titletd cite{color:#aaa; font-style:normal; margin:0 5px;}
.basetb td a.red{color:#f00}
.basetb td div span.titletd{color:#aaa}
.basetb .cz_see a{margin-right:10px}
.basetb .cz,.basetb .czfb,.qz .cz,.qz .czfb,.basetb .cza,.qz .cza{ text-align:center;}
.basetb .cz a,.basetb .czfb a,.qz .cz a,.qz .czfb a,.basetb .cza a,.qz .cza a{margin: 0 3px; color:#002cad; text-decoration:none; font-size:12px; }
.basetb .cz2 a,.qz .cz2 a, .basetb .cz_see a{color:#002cad; text-decoration:none; font-size:12px; }
.basetb .cz span a,.qz .cz span a{margin:0 2px 0 1px}
.basetb .cz span a:hover,.qz .cz span a:hover{text-decoration:none;}
.basetb .cz a:visited{color:#002cad}
.basetb div span,.basetb div span a{font-size:12px}
.basetb div a:hover,.basetb .cz a:hover{color:#F00; text-decoration:underline}
.basetb div img,.qz div img{margin-left:3px;}
.basetb .titletd,.qz .titletd{font-size:12px; color:#aaa;}
.basetb .titletd a,.qz .titletd a{color:#666;text-decoration:underline; margin:0 3px;}
.basetb .titletd a:hover,.qz .titletd a:hover{color:#F00}
.basetb .titletd .red2,.qz .titletd .red2{color:#F00; margin:0 2px; text-decoration:underline}
.basetb .titletd .red2 a,.qz .titletd .red2 a{text-decoration:underline;color:#F00;}
.basetb .binp,.basetdel .binp{vertical-align:top; text-align:left; padding:15px 0 0 10px; padding:12px 0 0 10px\0; *padding:11px 0 0 10px; _padding:10px 0 0 10px;}
.basetb .binp input,.basetdel .binp input{ margin:0;}
.basetb .thpl{padding-left:17px}
.sctcnr{display:none}
.sctcnr,.sctcnr td{ border-bottom:0px; padding:0; margin:0;}
.sctcnr td div{padding:10px 10px 10px 33px; border-bottom:1px solid #e8e8e8; text-align:left; line-height:20px; width:775px}
.basetb .infotdno td{ padding:0px; border-bottom:none;}
.area_cz3,.area_cz4{padding:10px; *padding:10px 10px 10px 6px; line-height:24px;}
.area_cz3 input,.area_cz4 input{margin-left:10px}
.area_cz3 .checkqx,.area_cz4 .checkqx{margin-left:0px; padding-left:0px;}
.box1{margin:10px 0 0 0; font-family:Arial, Helvetica, sans-serif;}
.box1 .box_table th{color:#000;width:110px;padding:7px 5px 0 0}
.box1 td{ line-height:20px; padding-bottom:15px;}
.box1 td.t{ width:110px; text-align:right; padding-right:5px; vertical-align:top;}

/*说明*/
.noteread{color:#aaa;font-size:12px; margin:40px 0 50px 0; padding:0px 0 0 10px; line-height:24px;}
.noteread b{font-size:12px;font-weight:bold;color:#666;background:url(use-icon-2.gif) no-repeat;background-position:0 -66px;background-position:0 -66px\0;*background-position:0 -68px;_background-position:0 -68px;padding:0 0 0 18px;}
.noteread span{ margin:0 5px; }
.linksize{font-size:14px}
/*我的简历*/
.qz{width:100%; margin:0px 0 0 0; border:none; border-collapse:collapse;}
.qz th{background-color:#f7f7f7; height:30px; line-height:30px; padding:0 0 0 10px; color:#999; font-weight:normal; text-align:left;}
.qz td{ color:#666; border-bottom:1px solid #f1f1f1; line-height:38px; padding:0 0 0 10px; }
.qz td p{ font-size:14px;}
.qz .cz{text-align:right; padding-right:10px}
.pic { width: 122px; font-size: 14px; color:#585858 }
.pic div { width: 118px; height: 118px; border-bottom: #ccc 1px solid; border-left: #ccc 1px solid; border-top: #ccc 1px solid; border-right: #ccc 1px solid; }
.pic input { margin-top: 5px; width: 122px; }
#ctl00_ContentPlaceHolder1_upLoadPic,#ctl00_upLoadPic{height:auto}
#span2{ vertical-align:top; *vertical-align:auto}
.wzd_top{ position:absolute;top:6px;right:10px;}.wzd_top strong{color:#379a00}.wzd_line{height:2px;background:#fafafa;margin:0 2px; overflow:hidden;}.per{display:inline-block;width:100px;height:8px;border:1px solid #70af4d;background:#fff;margin:0 3px; overflow:hidden; vertical-align:middle;}.per span{display:block;height:8px;background:url(wanzhengdu.gif) repeat-x;}
/*公司资料*/
.company{ width:100%; border:none; border-collapse:collapse; margin:30px 0 0 0;font-size:14px;}
.company th{ text-align:right; font-weight:normal; color:#666; vertical-align:top }
.company td{ padding:7px 0; vertical-align:top; }
.company td a{ font-size:12px; text-decoration:underline; margin:0 0 0 20px; }
.company td input.inp{ margin-right:10px; }
.company td strong{ font-size:16px; line-height:1.8; margin-right:5px;}
.company td a{ margin-right:5px;}.company td select{padding:1px;}
.company textarea{ border:1px solid #C8C8C8; width:600px; padding:5px;}
.company-a th{ width:140px; padding:13px 25px 0px 0; }
.company-b th{ width:90px; padding:0px 20px 0px 0; }
.company-b{ line-height:2.5;}
.companybg{padding-right:50px;}.companybg .company-a th{padding:7px 25px 0px 0;}.fen{ line-height:25px;}
/* pager */
.pager{padding:40px 0;background:#fff;zoom:1;clear:both;text-align:center;line-height:22px;font-family:'宋体';_font-family:Tahoma}
.pager a,.pager strong,.hotarea dt{margin:0 1px;padding:0 0 0 1px;display:inline-block;background-position:0 -217px}
.pager a span,.pager strong span,.hotarea dt span{display:inline-block;padding:0 8px 0 7px;background-position:right -217px}
.pager a.prv{background-position:0 -261px;padding-left:12px}
.pager a.next span{background-position:right -261px;padding-right:19px}
.pager a:hover,.pager strong{background-position:0 -173px;color:#FFF;text-decoration:none}
.pager a:hover span,.pager strong span{background-position:right -173px}
.pager a.prv:hover{background-position:0 -284px}.pager a.next:hover span{background-position:right -284px}
.pager strong{font-weight:700}
.pager .recently{background-position:0 -195px;color:#f00}
.pager .recently span{background-position:right -195px}
#minlogo,#searchBox .text,#searchBox .text input,#searchBox .btn,
.btn input,#crumbs a,.tabs a,.tabs a span,.tabs strong span,.tabs strong,.filterbar,.filterico,.filterico span,.ico,
.pager a,
.pager a span,
.pager strong,
.pager strong span,
.pager a:hover,
.pager a:hover span a{background-image:url(../../assets/images/list/sprites.png)!important;background-repeat:no-repeat}
#page{float:right; font-family:Arial; padding:2px 0; font-size:12px}
#page .pg{ float:left;  margin-left:5px;}
#page .pg a,#page .pn a { display:inline-block; padding:0px 6px; line-height:18px;text-align:center;font-family:Tahoma; border:1px solid #dee3e7;background-color:#fff; white-space:nowrap; text-decoration:none; font-size:12px}
#page .pg a:hover,#page .pn a:hover{ border:1px solid #fd7a0e;background-color:#fd7a0e;color:#fff;} 
#page .pn{ float:left; padding:0px 6px; margin-left:5px; line-height:18px;text-align:center;font-family:Tahoma; border:1px solid #fd7a0e;background-color:#fd7a0e;color:#fff; font-weight:bold}
#page .pn a {color:#fff; font-weight:bold}
.pager-jf{font-family:Arial; padding:20px 0;zoom:1;clear:both;text-align:center; font-size:12px}
.pager-jf span a{ margin-left:3px; display:inline-block; padding:0px 6px; line-height:18px;text-align:center;font-family:Tahoma; border:1px solid #dee3e7;background-color:#fff; white-space:nowrap; text-decoration:none; font-size:12px}
.pager-jf span a:hover{ border:1px solid #fd7a0e;background-color:#fd7a0e;color:#fff;} 
.pager-jf span a.next{ font-family:"宋体"; line-height:18px; position:relative; top:-1px;}
.pager-jf span b{ display:inline-block; padding:0px 6px; margin-left:5px; line-height:18px;text-align:center;font-family:Tahoma; border:1px solid #fd7a0e;background-color:#fd7a0e;color:#fff; font-weight:bold;}
.pager-jf p{ line-height:3; color:#666;}
/* 弹出层 */
.fe_window_mask{height:100%;width:100%;background:#000;position:absolute;top:0;left:0;opacity:0.3;filter:alpha(opacity=30);z-index:10}.fe_window{z-index:999;position:fixed;left:50%;top:50%;_position:absolute;_top:expression(eval(document.compatMode && document.compatMode=="CSS1Compat") ? documentElement.scrollTop+(documentElement.clientHeight-this.clientHeight)/2 : document.body.scrollTop+(document.body.clientHeight-this.clientHeight)/2)}
.fe_window .outer{position:relative;}
.fe_window .contains{position:absolute;background:#fff;z-index:9999; border:#bfbfbf 1px solid;}
.fe_window .frame{background:#ddd;opacity:0.4;filter:alpha(opacity=40);position:absolute;top:0;left:0; z-index: 9998;}
.fe_window .contains .topbar{ background:url(mask-t-g.gif) bottom repeat-x; border-bottom:#d1d1d1 1px solid; padding:8px 0 4px 0; padding:10px 0 2px 0\0; *padding:10px 0 2px 0; _padding:10px 0 2px 0; position:relative; }
.fe_window .contains .topbar span.title{ display:block; font-size:16px; padding-left:13px; font-weight:bold; padding-top:1px; }
.fe_window .contains .topbar a.closebtn{ position:absolute; right:8px; top:8px; display:block;width:20px;height:20px;background:url(reg-menu.gif) 0 -156px no-repeat; overflow:hidden;}
.fe_window .contains .topbar a.closebtn:hover{ background-position:-20px -156px;}
.fe_window .contains iframe{}
.fe_window .contains .load{font-size:14px;background:url(../../images/loading.gif) no-repeat center center;margin-left:-60px;padding-left:90px;text-align:center;color:#666}
.fe_window .contains .bottombar{}
.userscore{ width:838px; margin:0; padding:0; overflow:hidden;}
.zhankai{ position:absolute; left:0; top:22px; top:23px\9; _top:24px; border:1px solid #c8c8c8; background:#fff; width:350px;box-shadow:3px 3px 4px #ccc;-moz-box-shadow:3px 3px 4px #ccc;-webkit-box-shadow:3px 3px 4px #ccc;filter:progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#cccccc');-ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#cccccc')"; z-index:999;padding-bottom:10px;}
.paixu{ display:block; border-bottom:1px solid #DCE2E6; height:21px; margin-bottom:5px;background:#F9F9F9;padding:3px 10px 0;}
.cities{margin:10px 0 0 15px;}.cities li{ width:15.9%; float:left; line-height:22px;}
.paixu li{ float:left; padding:0 7px 0; line-height:20px; margin-right:3px; border:1px solid #DCE2E6; border-bottom:none; cursor:pointer; background:#fff;_padding-top:1px;}
.paixu li.select{ border:1px solid #DCE2E6; border-bottom-color:#fff; background:#fff;_padding-top:0;font-weight:bold;*position:relative;*top:1px;}
a.close{ display:block;width:9px;height:9px;background:url(../topbar.png) 0 -229px no-repeat; position:absolute; top:7px; right:7px; line-height:50px; overflow:hidden}a.close:hover{ text-decoration:none; background-position:-17px -229px}
.close_tip{width:496px;height:23px;line-height:23px;padding-left:16px;background:#f9f9f9;position:absolute;top:0;right:0;color:#666;border-bottom:1px solid #DCE2E6}

#view{margin:0px auto;padding:20px 0 20px 0px;background:#fff;}
.sample{position:relative;width:795px;}.s_info li{line-height:24px;}.s_info li.title{padding-bottom:15px;font-size:14px;}.s_info li.title strong{font-size:20px;}.s_info i{font-style:normal;color:#666;width:140px;text-align:right;display:inline-block;padding-right:16px;}.s_info li.padt{padding-top:10px;}.editorpic{position:absolute;top:0;right:0;}.editorpic p{text-align:right;line-height:24px;padding-bottom:20px;}.pic{display:block;width:400px;}.pic li{float:right;padding:0 0 5px 5px;width:82px;height:62px;}.pic li img{border:1px solid #DFDFDF}
.box{margin:20px 0;padding-top:20px;border-top:1px solid #dfdfdf;width:818px;min-height:10px;_height:10px;zoom:1;clear:both;*float:left}.box h2{font-size:12px;font-weight:lighter;color:#169603;background:url(../../images/zp/suess.gif) no-repeat 0 center;padding:2px 0 0 20px;}.box h3{padding:10px 0 10px 20px;font-size:12px;font-weight:normal;}.one{width:100%;position:relative;left:0;top:-20px;*top:0;}.one h3{ position:relative; background-color:#ffffcc;} .one h3 span.icon-one{ display:inline-block; position:absolute; left:3px; _left:-16px; top:8px; background:url(reg-menu.gif) 0 -178px no-repeat; width:13px; height:16px; }
.box_table{width:100%;margin-top:10px; border-collapse:collapse;}.box_table th{width:90px; font-size:12px;font-weight:normal;text-align:right;padding:7px 16px 3px 0; color:#666; vertical-align:top;}.box_table b{color:#f00}.box_table td{padding:4px 0 6px;}.buttoncss{*padding-top:5px;}
.box_table th.tit{ vertical-align:top; padding-top:12px;}
.box_table textarea{font-size:12px; width:360px; height:45px; vertical-align:top;border:1px solid #c8c8c8;}
.box_table .inp-resume{ height:19px; line-height:19px; padding:0 3px; font-size:12px; border:1px solid #c8c8c8;}
.box_table select{ padding:0;}
table.resume th{ width:100px!important;}
.worklist{padding:5px 10px;line-height:2; font-size:12px; display:block;}.worklist span{color:#ccc;padding:0 5px;}.worklist span.editdisplay{float:right;paddgin:0; font-size:12px;}.overcolor{background:#f7f7f7;}.buttonok{padding:5px;font-size:16px;font-weight:bold;margin-top:30px;}.textstyle{height:17px;padding:3px 2px 0;vertical-align:middle;border:1px solid #c8c8c8;}select{vertical-align:middle}
.noresue{padding:10px;}.noresue h4{font-size:14px}.noresue p{padding-bottom:20px;line-height:24px;}
/*分类信息*/
.chuangjian{width:818px;margin:0 auto;padding-bottom:30px;}
#view_per{position:absolute;right:10px;top:4px;}#view_per span{display:block;width:80px;height:4px;border:1px solid #dfdfdf;padding:1px;vertical-align:middle}#view_per i{display:block;height:4px;background:#009900;margin:0;font-style:normal}.checkqx{ margin:0; padding:0;}.sm{ position:absolute; top:-20px; right:10px;}
/*图片上传*/
.uploadPic {width:688px;margin:0;}
.uploadPic ul { list-style-type:none; margin:0px; padding:0px; }
.uploadPic li { float:left; width:82px; height:88px; margin:0 5px 5px 0; padding-bottom:3px; overflow:hidden; background:#eee; position:relative}
.uploadPic .displayimg { width:80px; height:60px; vertical-align:middle; text-align:center; border:1px solid #ccc; overflow:hidden; background:#fff}
.uploadPic .previous{ display:inline-block; width:13px; height:12px; background:url(../../images/post/pre-next-delete.gif) no-repeat 0 -7px; line-height:100px; vertical-align:middle; overflow:hidden; margin:7px 33px 0 12px;}
.uploadPic .previous:hover{ background:url(../../images/post/pre-next-delete.gif) no-repeat 0 -19px;}
.uploadPic .previous:active{ background:url(../../images/post/pre-next-delete.gif) no-repeat 0 -7px;}
.uploadPic .next{ display:inline-block; width:13px; height:12px; background:url(../../images/post/pre-next-delete.gif) no-repeat -14px -7px; line-height:100px;vertical-align:middle; overflow:hidden; margin:7px 0 0;}
.uploadPic .next:hover{ background:url(../../images/post/pre-next-delete.gif) no-repeat -14px -19px;}
.uploadPic .next:active{ background:url(../../images/post/pre-next-delete.gif) no-repeat -14px -7px;}
.uploadPic .delete{ display:block; width:13px; height:12px; background:url(../../images/post/closeyes.gif) no-repeat 0 0; line-height:100px; overflow:hidden; position:absolute; top:3px; right:3px; z-index:9}
.uploadPic .delete:hover{ background:url(../../images/post/close-hover.gif) no-repeat 0 0;}
.front-cover{ position:absolute; bottom:5px; *bottom:0px; left:30px; color:#666}
.uploadPic div { clear:both; }
.uploadPic input.picDesc { width:80px; *width:78px; text-align:center; margin:0; border:1px solid #7F9DB9; margin-top:2px; display:none;}
.uploadPic span.upload_error { background-color:#FFD7D7; color:#000; padding:4px; font-family:Tahoma; line-height:24px;}
.cls_divUploader {height:24px; background-color:Transparent; z-index:0;}
.loadbutton{ width:74px; height:24px; background:url(upload_btn.gif); display:inline-block; position:relative; left:0; right:0;zoom:1; z-index:1; overflow:hidden; vertical-align:middle; float:left; margin-right:5px; cursor:pointer}
.fileUploadInput { position:absolute; top:-3px; right:-3px;_position:relative; _top:-3px; _right:460px; font-size:36px; filter:alpha(opacity=0); opacity:0;z-index:0; cursor:pointer}
.upload_ok{ font-family:Tahoma; color:#666; }#selPosCate2{z-index:15;}#selPosCate1{z-index:20;}#selPosCate3{z-index:19;}
.cjcg{padding:20px 10px 10px;}.cjcg h2{background:url(../../images/detail/right-img.gif) no-repeat scroll 0 0;color: #479D06;font-size: 26px;padding:0 0 10px 40px;height:29px;line-height:29px;width:390px;margin:0 auto}.cjcg p{padding:10px 0 0;line-height:24px;font-size:14px;}

.jianli{width:400px;margin:0 auto;font-size:14px;line-height:30px;text-align:center;}.jianli h2{font-size:16px;padding:20px 0;}.jianli h2 span{display:inline-block;width:29px;height:29px;margin-right:10px;vertical-align:middle}.red{color:#f00}.w{ background:url(../../images/detail/shibai-bg.gif) no-repeat}.gongneng{padding-top:10px;}.gongneng a{display:inline-block;margin:0 10px;text-decoration:underline}.jianli p{text-indent:28px;line-height:24px;}.green{color:#169B04}.r{ background:url(../../images/detail/right-img.gif) no-repeat}.waifa{width:600px;margin:0 auto;padding:20px 0;}
.yzm{vertical-align:middle}

.choose{position:relative;display:block;float:left;margin-right:4px;*top:3px;}
.clickwindow{height:22px;line-height:22px;background:#fff url(sprites-job.png) no-repeat 0 -71px;cursor:pointer;*margin-right:3px; float:left}
.clickwindow span{display:inline-block;background:#fff url(sprites-job.png) no-repeat right -71px;cursor:pointer;padding:0 25px 0 0;margin-left:5px;}
.setbox{position:absolute;top:22px;left:0;background:#fff;border:1px solid #c8c8c8;padding:30px 16px 16px;z-index:1000;box-shadow:3px 3px 4px #ccc;-moz-box-shadow:3px 3px 4px #ccc;-webkit-box-shadow:3px 3px 4px #ccc;filter:progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#cccccc');-ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#cccccc')";}
.setbox td{padding:4px 0 0!important;}.setbox td.linetwo{border-bottom:1px solid #c8c8c8;padding-bottom:5px!important;}
.fl{display:block;float:left}.blacklink{color:#000}
/*时间控件*/
.dingweiyong{position:relative; z-index:5;display:inline-block; vertical-align:middle}.dingweiyong input{ cursor:pointer}.zp_datediv{border:1px solid #A6ADB3;font-size:12px;background:#fff;display:none;z-index:999;box-shadow:3px 3px 4px #ccc;-moz-box-shadow:3px 3px 4px #ccc;-webkit-box-shadow:3px 3px 4px #ccc;filter:progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#cccccc');-ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#cccccc')";position:absolute;top:22px;_top:23px;left:0;}.zp_datediv a{text-decoration:none}.zp_datediv_title{text-align:center;height:20px;line-height:22px;position:relative;background:#f7f7f7;border-bottom:1px solid #ccc;}.zp_datediv_title a{display:block;width:13px;height:9px; line-height:20px; overflow:hidden; position:absolute;top:6px;}.pre{ background:url(../../images/zp/pre.gif) no-repeat;left:16px;}.next1{ background:url(../../images/zp/next.gif) no-repeat;right:16px;}.pre_none{ background:url(../../images/zp/pre_none.gif) no-repeat;left:16px;}.next_none{ background:url(../../images/zp/next_none.gif) no-repeat;right:16px;}.zp_datediv_content{width:222px;height:79px;overflow:hidden;margin:10px 0;}.zp_datediv_hidden{width:2000px;height:79px;position:relative;}.zp_datediv_list{width:220px;float:left;overflow:hidden;margin:3px;display:none;}.current {display:block;}.zp_datediv_list a{display:block;width:54px;height:25px;line-height:25px;float:left;text-align:center;font-family:Arial, Helvetica, sans-serif;background:#fff;}.zp_datediv_list a:hover{background:#f7f7f7;}.year{width:222px;}.c{clear:both}.zp_datediv_bottom{text-align:center;height:20px;line-height:20px;}.month{width:181px; overflow:hidden}.month .zp_datediv_list{width:180px;}.month .zp_datediv_list a{width:44px;}.txtyear{ width:46px;height:17px;padding:3px 2px 0;vertical-align:middle;border:1px solid #A5ACB2;}.txtmonth{width:21px;height:17px;padding:3px 2px 0;vertical-align:middle;border:1px solid #A5ACB2;}
select{border:1px solid #c8c8c8}
textarea{ padding:2px;}

.chenggong, .action, .wrong { display:inline-block; vertical-align:top; line-height:2; padding-right:5px;height:25px; font-size:12px; color:#000; position:relative; z-index:10; padding-left:40px}
.chenggong{ display:inline-block; height:16px; background:url(reg-menu.gif) 0 -22px no-repeat; padding-left:25px; vertical-align:middle; padding-right:5px;}
.action{ background:url(verification-ui6.gif) no-repeat 0 0;}
.action .action_po,.wrong .action_po{ position:absolute; left:0; top:0;}
.action .action_po_top{display:block;width:245px;padding:6px 10px 0 40px;min-height:10px;_height:10px; background:url(verification-ui6.gif) no-repeat 0px 0; line-height:18px;}
.action .action_po_bot{display:block;width:295px;height:5px;background:url(verification-ui6.gif) no-repeat 0px -185px;overflow:hidden;}
.wrong{ background:url(verification-ui6.gif) no-repeat 0 -190px;}
.wrong .action_po_top{ display:block; width:245px; padding:6px 10px 0 40px; min-height:10px; _height:10px; background:url(verification-ui6.gif) no-repeat 0px -190px;line-height:18px;}
.wrong .action_po_bot{ display:block; width:295px; height:5px; background:url(verification-ui6.gif) no-repeat 0px -375px; overflow:hidden;}
.actionborder{ border:1px solid #1d95f6!important;  background:#feffe3 url(inw-bg.gif) left top repeat-x;}
.wrongborder{  border:1px solid #ff9a9a!important; background:#feffe3 url(inw-bg.gif) left top repeat-x;}

.combut{ text-align:center; padding:20px 0 0;}.tbg .box_table{margin-top:0;}.tbg .worklist{padding:0 10px 5px 30px; border-bottom:1px dashed #ddd; margin-bottom:8px}.box1 .tbg .worklist{padding:0 10px 5px 50px; border-bottom:1px dashed #ddd; margin-bottom:8px;}.tbg{background:#f4f4f4;padding:20px 0;}
.text2{ width:160px; height:17px; padding:3px 2px 0; border:1px solid #c8c8c8; margin-right:4px; vertical-align:middle}
.text3{ width:45px; height:17px; text-align:center; padding-top:3px; border:1px solid #c8c8c8; margin-right:4px; vertical-align:middle}
.text4{ width:265px; height:17px; padding:3px 2px 0; border:1px solid #c8c8c8; margin-right:4px; vertical-align:middle}
.text5{ width:75px; height:17px; padding:3px 2px 0; border:1px solid #c8c8c8; margin-right:4px; vertical-align:middle}
/* login_reg */
.login_reg{ height:25px;border-bottom:1px solid #a1a1a1; margin:0;}
.login_reg a{ display:inline-block; font-size:14px; text-decoration:none; padding:5px 10px 3px; margin-right:3px; background:#EBF3FE; line-height:normal; border:1px solid #a1a1a1; _position:relative; _top:1px;}
.login_reg a.active{ background:#fff; border-bottom:1px solid #fff; color:#000}

#topinfomsg { background-color: #FFFFCC; font-size: 12px;line-height: 20px;margin: 0 auto 0;padding: 8px 10px 8px 0; position: relative;}
#topinfomsg strong {background: url(../my/images/reg-menu.gif) no-repeat scroll 10px -178px transparent;padding: 0 0 0 30px; display:inline-block; height:20px; vertical-align:middle}
#topinfomsg span.btn-q {color: #C0A16D;cursor: pointer;font-size: 18px;position: absolute; right: 10px;top: 8px;}
.mode{color:#666}.mode label{width:70px;*width:80px;color:#000; display:inline-block}.mode label input{margin:0;padding:0;}

.mt20{ margin-top:20px;}

.time{ width:70%; border-bottom:1px solid #e9e9e9; border-right:1px solid #e9e9e9;margin-top:5px;}.time td,.time th{ text-align:center;border-top:1px solid #e9e9e9; border-left:1px solid #e9e9e9;font-size:12px; font-family:verdana; font-weight:lighter;}
.time .tg{background:#f8f8f8;color:#000;}

.time_table{width:485px;border-right:1px solid #d9d9d9; border-bottom:1px solid #d9d9d9;}.time_table th,.time_table td{border-top:1px solid #d9d9d9; border-left:1px solid #d9d9d9; text-align:center;padding:4px;}.time_table th{background:#f4f4f4; font-weight:lighter}.time_table input{margin:0 0 0;}