/* reset */
body,div,dl,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td{margin:0; padding:0;}
h1,h2,h3,h4,h5,h6{font-size:12px;}
ol,ul{list-style:none;}
address,caption,cite,code,dfn,em,th,var{font-style:normal; font-weight:normal;}
table{border-collapse:collapse; border-spacing:0;}
fieldset,img{border:0;}
caption,th{text-align:left;}
body{background:#fff; color:#000; font:14px Tahoma, Arial, "宋体", sans-serif;}
a:link,a:visited{color:#00c; text-decoration:none;}
a:hover,a:focus,a:active
{
    /*color:#f00;*/
    color:#10ade4;
    text-decoration:underline;
}
.f12{font-size:12px;}.f14{font-size:14px;}
.c_999{color:#999}.c_g{color:green}.c_r{color:#ec0b00}.c_ccc{color:#ccc}.c_58{color:#585858}.red{color:#f00;}.redfont{ color:#f00; font: normal bold 14px verdana,sans-serif;}
.fl{float:left;}.fr{float:right;}.hc{display:none}.sc{display:block}
.center{text-align:center}.tr{text-align:right}.tl{text-align:left;}
.clear{clear:both;font-size:0;height:0; line-height:1%;overflow:hidden}
.u{text-decoration:underline;}
.b{font-weight:700;}
.p20{padding:20px;}
.pt20{padding-top:20px;}
.pb20{padding-bottom:20px;}
.mb50{margin-bottom:50px;}
.pt50{ padding-top:50px;}
.pb50{padding-bottom:50px;}

/* frame */
.w,#header,#selection,#filter,#main,#links,#footer,.footer,.cb{width:1000px;margin:0 auto;clear:both}
/* header */
#header{overflow:hidden;position:relative;padding:5px 0 5px 100px;width:900px; font-size:12px; line-height:2;}
#crumbs a{float:left;display:inline-block;padding:0 0 0 18px;margin-top:11px;background:url('../detail/detail.png') no-repeat 2px -185px}
#logo,#minlogo{position:absolute;left:10px;top:10px;text-indent:-100em}
#minlogo:focus,#logo:focus{outline:none}
#logo{width:189px;height:50px;top:15px;background:url(../../assets/images/logo/logo.gif) no-repeat}
#minlogo{width:102px;height:25px;background:url(../../assets/images/logo/minilogo.gif);}

/* headline */
.headline{position:relative; height:28px; padding:10px 0 15px; border-bottom:1px solid #ccc;}
.headline h1{font:25px "微软雅黑","黑体", sans-serif; display:inline; margin:0 0 0 10px;}
.remark{font-style:normal; margin-left:10px;}
.other{position:absolute; right:10px; bottom:15px; _bottom:18px; color:#585858; font-size:12px;}
.other span{padding:0 7px;}
.other span#edit{padding:0;}

/* info-user*/
#user{ position:relative}
#user li{ padding-left:10px;}
#user li .ux{ color:#DADADA; padding:0 5px;}
   
/**认证**/#user li .yyzz,#user li .sfz{color:#129800;}
.yyzz cite,.sfz cite,.noyyzz cite,.nosfz cite,.wlt cite{background-image:url('../detail/detail.png') !important; display:inline-block;height:18px;width:22px;  overflow:hidden; vertical-align:middle;margin-right:5px;}
#user li .yyzz,#user li .sfz,#user li .yx,#user li .sj{color:#129800;}
.yyzz cite{background:url() -189px -132px;width:23px;}.noyyzz cite{background:url() -189px -153px;width:23px;}
.sfz cite{background:url()  -164px -132px;}.nosfz cite{background:url() -164px -153px;}
.yx cite{background:url()  -142px  -132px;}.noyx cite{background:url() -142px  -153px; height:19px; width:19px;}
.sj cite{background:url()  -123px -132px;}.nosj cite{background:url() -123px -153px; width:16px;}
.wlt cite{background:url() -197px -92px; width:16px; }/**认证**/

#info li{height:22px;padding-bottom:15px;  overflow:hidden;padding-left:10px;}
#infor li{height:22px;padding-bottom:15px;  overflow:hidden; padding-left:10px;float:left; width:330px; display:inline;}
#infor li.w99{ width:360px}
#infor li.w100{padding-left:10px;float:left; width:726px; display:inline;}
#info li i,#infor li i{font-style:normal; color:#585858; display:inline-block; vertical-align:top;}
#info li i.z,#infor li i.z{width:70px;}
#info li i.z3,#infor li i.z3{width:58px;}
#info li .rq,#infor li .rq{width:260px; display:block; float:left;}

.userinfo li{padding-bottom:20px;}
.userinfo li.nopb{padding-bottom:0;}
.userinfo li.b{font-size:16px}
.userinfo li.l{border-top:1px dashed #ccc; padding-top:20px;}
.linkman{width:250px; text-align:center; line-height:22px;}
.userinfo li i{font-style:normal; color:#585858; display:inline-block; width:70px; text-align:right; padding-right:1px;}
.userinfo li img{vertical-align:middle;}
.userinfo li a.tx{ padding-right:15px;}

.zhijie{background:yellow;color:#000000;display:inline-block;font-size:12px;font-style:normal;height:12px;line-height:14px;padding:3px 2px 4px 4px;*padding:4px 2px 2px 4px;}
.avatar{width:100px; height:100px; border:1px solid #f1f1f1; padding:3px; margin-left:71px; overflow:hidden;}
.avatar a{width:100px; height:100px; display:table-cell; vertical-align:middle; text-align:center; *display:block; *font-size:85px; overflow:hidden;}
.avatar a img{vertical-align:middle}
.medium{display:inline-block; width:39px; height:14px; font-style:normal; background:#f80 url('../detail/detail.png') -174px -60px;color:#fff; text-align:center; line-height:14px; +line-height:16px; line-height:16px\0; _line-height:14px; +vertical-align:middle; _vertical-align:baseline; margin-left:5px; font-size:12px}
.phone,.tel
{
    font-size:16px; 
    /*color:#FF0508;*/
    color:#10ade4;
    font-weight:bold; 
    table-layout:fixed; 
    font-family:verdana,"宋体"; 
    word-break:break-all; 
    overflow:hidden; /*position:relative;*/ 
    top:2px;
}
.phone img,.tel img{position:relative;top:3px; left:-7px; vertical-align:middle;}
.belong{font-size:12px; color:#585858;}
.belong a,.belong a:hover,.belong a:focus,.belong a:active{color:#666; text-decoration:none}

.contact{ width:170px; height:40px; font-size:16px;}
*html .contact{ width:169px; height:39px; font-size:16px;}


/* content */
.content{ border-top:1px solid #ccc; margin-top:35px; padding-bottom:15px;}
.conleft{ width:726px; margin-top:36px; float:left; overflow:hidden}
.conright{ width:243px; margin-top:36px; margin-bottom:21px; float:right; overflow:hidden}
.conleft p{ padding-left:10px; line-height:28px; }
.rightborder{border-left:1px solid #ccc; padding-left:10px;}
.imgs{}
.imgs li{ width:320px; height:320px; border:1px solid #f1f1f1; float:left; padding:5px; margin-right:20px; margin-bottom:20px; overflow:hidden;}
.imgs li span{ width:320px; height:320px; display:table-cell; vertical-align:middle; text-align:center; *display:block; *font-size:265px;}
.imgs li img{vertical-align:middle}
.conleft h2{ font-size:14px; padding:15px 10px 20px;}
.conright h3{ font-size:12px}
.conright h2{ font-size:14px; margin:6px 0; font-weight:normal; color:#585858;}
.wei h2{ font-size:14px; margin:6px 0; font-weight:bold; color:#333;}
.conright ul{ padding-bottom:10px;}
.conright li{font-size:12px;}.conright li a{ color:#00c}.conright li a:hover{ color:#FF0508}
a.rcshi{ color:#0000CC; font-size:13px; text-decoration:underline;}
a.rcshi:hover{ color:#FF0508;}

a.hui{ color:#999; padding-left:10px;}
.jianjie p{ text-indent:25px; padding-bottom:15px;}

.h3link a{ color:#000}
.listtwo{ padding-bottom:50px; *padding-bottom:0;*margin-bottom:50px;}
.listtwo td{ padding-top:20px; padding-right:12px; font-size:12px;}
.road li{ font-size:12px; padding-top:20px;}
.road li cite{ font-style:normal; color:#333;}.road li a:hover cite{ text-decoration:underline}
.road li span{ float:right; color:#333}
.road{ display:block; padding-bottom:50px;}
.ullist li{ font-size:12px; padding-top:20px;}
.ullist li span{ float:right; color:#999}
.bigboxtitle{ border-bottom:1px solid #ccc; padding:15px 20px 15px;}
.bigboxtitle h2{ font-size:14px;}

.community{ padding-bottom:49px;}

.nav{ clear:both; padding:17px 20px 20px; color:#f00}.nav a{ display:inline-block; margin-right:15px; text-decoration:underline}
.more{ float:right}.more a{ font-weight:normal; text-decoration:underline}
.othercommunity td{ padding-top:20px; font-size:12px; line-height:24px; vertical-align:top}
.othercommunity .img{ padding-right:5px;}
.othercommunity .img div{ border:1px solid #f1f1f1; width:80px; height:60px; overflow:hidden; padding:2px; display:table-cell; vertical-align:middle; text-align:center; *display:block; *font-size:45px;}.othercommunity .img div img{ vertical-align:middle; max-width:80px; max-height:60px;}
.leftlist{ padding: 15px 20px 10px;}
.leftlist h3{ font-size:14px; padding-bottom:10px;}
.leftlist h3 span{ float:right; font-weight:lighter; font-size:12px}.leftlist h3 span a{ text-decoration:underline}
.leftlist table{ width:100%;}
.leftlist td{ padding-top:10px; padding-bottom:10px; border-top:1px solid #eee;}
.job{ padding-bottom:35px; padding-top:35px;}
.job h2{ font-size:16px; border-bottom:1px solid #ccc; padding:0 0 17px 20px; margin-top:20px; margin-bottom:15px}
.job p{ padding:0 20px 15px; line-height:28px;word-wrap:break-word;}
.paihangban{ width:100%; font-size:12px; margin-top:10px; padding-bottom:43px; *padding-bottom:0;*margin-bottom:43px;}
.paihangban td{ padding:7px 0; border-bottom:1px dashed #F0F0F0}
.paihangban .n td{ border:none}
.paihangban td cite{ display:inline-block; width:14px; height:14px; background:url(../../images/detail/bottom_bg_gray.gif) no-repeat; color:#fff; text-align:center; line-height:14px; font-style:normal; font-size:11px}
.paihangban td cite.top_bg_orange{background:url(../../images/detail/top_bg_orange.gif) no-repeat;}
.f11{ font-size:11px}
.jiamengguanggao{ padding-bottom:45px;}
.jiamengguanggao h4{ font-size:14px; font-weight:lighter; margin-top:18px; margin-bottom:3px;}
.jiamengguanggao h4.notitle{ margin-top:0;}
.jiamengguanggao h4 a{ text-decoration:underline}
.jiamengguanggao p{ font-size:14px; line-height:22px; padding-top:5px;}
.jiamengguanggao p a{ font-size:14px; color:#333;}
.jiamengguanggao p cite{ font-style:normal; color:#f00; font-weight:bold;}
.wanglintong{ padding:10px 20px 0; width:960px;}
.wanglintong p{ line-height:28px;}
.wanglintong p.title{ padding-top:5px;}
.wanglintong p.title a{ display:inline-block; margin-right:10px;}
.wanglintong a.more{ float:none; display:inline-block; margin-left:5px;}
.wltimg img{ border:1px solid #ccc; float:left; margin-right:15px; margin-top:12px;}
.zhaoshangad{ padding-top:20px;}
.zhaoshangadlist li{ width:470px; height:93px; float:left; padding:20px 0 20px 20px;}
.zhaoshangadlist li img{ float:left; margin-right:15px;}
.zhaoshangadlist li p{ line-height:20px;}
.zhaoshangadlist li p.t{ padding-bottom:5px;}
.zhaoshangadlist li p.green{ padding-top:8px;}
.zhaoshangadlist li p.green a{ color:#008000}
.zhaoshangadlist li a{ text-decoration:underline}
/* 线 */
.xian{ border-bottom:1px dashed #F1F1F1; margin-left:10px; height:5px; overflow:hidden; line-height:1%; font-size:1%; margin-bottom:15px;}
/**功能按钮**/
.caozuo{ padding:15px 10px 0;}
.caozuo a{background-image:url('../../images/detail/caozuo.png')!important; background-repeat:no-repeat; padding-left:20px; margin-right:15px; display:inline-block; height:25px;line-height:25px; overflow:hidden}.caozuo a:link,.caozuo a:visited{color:#1A1A1A; text-decoration:none;}.caozuo a:hover{ color:#F26118;text-decoration:none;}
.c01 a{background-position: 0px 3px; padding-left:18px}.c01 a:hover{background-position: 0px -31px}
.c02 a{background-position: -50px 3px}.c02 a:hover{background-position: -50px -31px}
.c03 a{background-position: -132px 3px}.c03 a:hover{background-position: -132px -31px}
.c04 a{background-position: -201px 3px; padding-left:15px;}.c04 a:hover{background-position: -201px -31px}

#share,#shoucang1{ border:1px solid #dcdcdc;background:#fff; border-radius:3px; box-shadow:1px 1px 2px #dcdcdc;}
#share{ width:440px;}
#shoucang1{ width:500px;}
.fav_1,.fav_2,.fav_3{ display:inline-block; vertical-align:middle; margin:2px 5px 2px 10px; background:url('../detail/detail.png') no-repeat;}
.fav_1{ width:14px; height:12px; margin:2px 5px 2px 10px; background-position: 0px -500px;}
.fav_2{ width:15px; height:12px; margin:2px 5px 2px 10px; background-position: -27px -500px;}
.fav_3{ width:15px; height:13px; margin:2px 5px 2px 10px; background-position: -55px -500px;}



/* 特价机票 特价酒店 */
.trainer{ width:446px; float:left; padding-bottom:22px; padding-left:20px;}
.trainer h3{ font-size:14px;}
.trainer h3 a{color:#000}
.trainerul li{ width:46%; float:left; font-size:12px; padding-right:17px; padding-top:20px; height:15px; overflow:hidden}
.trainerul li a:hover,.trainerul li a:hover em,.trainerul li a:hover span{ text-decoration:underline}
.trainerul li span{ float:right}
.trainerul li span b{ color:#f00}
.trainerul li em{ color:#999; font-style:normal; margin-right:10px;}
.hotel{ width:260px; float:right;}
.hotel h3{ font-size:14px; text-indent:20px;}
.hotel h3 a{color:#000}
.hotelul li{ text-indent:20px; height:15px; *height:13px; overflow:hidden; padding-top:20px; font-size:12px; clear:both}
.hotelul li b{ float:right; color:#f00;}
.hotelul li a{ margin-right:10px; display:block; float:left; width:110px; height:14px; overflow:hidden}
.hotelul li span{ display:block; width:80px; height:14px; overflow:hidden; float:left;}
.mtbox{padding-top:36px;padding-bottom:22px;*padding-bottom:0;}.mtbox .trainer{ width:480px;overflow:hidden;padding-bottom:0;}.mtbox li.w{width:99%}
/* footer */
.footer{ text-align:center; font-size:12px; padding:10px 0 20px; border-top:1px solid #ccc;}.footer a{ text-decoration:underline}
.footer .shenming{ text-align:left; line-height:18px; color:#585858; padding:10px 20px 20px; border-top:2px solid #E9F1FE}
/* 广告 */
.guanggao{ height:114px; border-top:1px solid #ccc; padding:20px 0; margin-top:35px;}
.guanggao div{ width:486px; height:103px; padding:18px 5px 0 5px;  float:left;}
#googlead_bottom{ position:relative}
.g0{ text-align:right; margin:0px; padding:0px; line-height:100%;}.g0 a,.baidu .g0{ color:#999; font-size:12px;}
.g1{ position:absolute; top:-5px; left:20px;}.g1 a{ color:#999; font-size:12px;}
.g2{ text-align:center;}.g2 a,.baidu .g2{ font-size:16px; font-weight:bold; text-decoration:underline;}
.g3{ text-align:center; color:#333; line-height:18px; padding:5px 20px 5px 20px; font-size:14px}.g3 a{ color:#000}
.g4{ text-align:center; line-height:18px;}.g4 a{ color:#008000; font-size:14px; text-decoration:underline}
.baidu .g4{ color:#000; font-size:14px;}
#baiduad{ width:490px; border-left:1px solid #ccc; position:relative}
#baiduad .g0{ position:absolute; top:-5px; right:20px;}
.hotelright li{ padding-top:18px; font-size:12px; clear:both}
.hotelright li span{ display:none}
.hotelright li a{ margin-right:10px; display:block; float:left; width:130px; height:13px; overflow:hidden}
.hotelright li b{ float:right; color:#f00;}
.detailad{ padding:23px 0 0 23px; border-left:1px solid #ccc;}

/*
.footad{ padding:20px 10px 10px;}
.conleft .footad h2{ font-size:14px; margin-bottom:15px; padding:0;}
.footad h2 a,.footad h2{ color:#585858; font-weight:normal; }
.footad h2 a:hover{ color:#f00;}
.footad p{ margin-bottom:10px; padding:0; line-height:normal;}
*/
/* by lls*/
.footad
{
    border-top:1px solid #e2e2e2;
    padding-top:10px;
}
.ad1 a{ text-decoration:underline;}
.ad2 a{ padding:0 5px; text-decoration:underline;}
.ad3{ font-size:14px; color:#585858;}
.ad4{ font-size:14px;padding:0 8px; color:#0000CC; font-weight:bold}
.s_ad{ border-left:1px solid #ccc; padding:0 10px; color:#585858;}
.s_ad li{ margin-top:15px; background:#fff}.s_ad li.s_t{ font-size:12px; margin:0;}
.s_ad b{ font-weight:normal; color:#F33;}
.s_ad h3{ font-size:14px; font-weight:normal; margin-bottom:5px}.s_ad h3 a{ text-decoration:underline;}
.s_ad p{ margin:3px 0; padding:0; font-size:12px; line-height:1.5;}
.s_ad div.surl a{ color:#008000; font-family:Arial;}

/* 分享帖子 */
.share{padding:20px;}
.share h2{font-size:14px;}
.weibo{padding:20px 0;}
.weibo a{display:inline-block; width:60px; height:20px; text-align:center; padding-top:40px; margin-right:20px; margin-bottom:10px; font-size:12px; background-image:url(../../images/detail/share-logos.png);_background-image:url(../../images/detail/share-logos.gif); background-repeat:no-repeat}
.sina{background-position:-35px 0;}
.wangyi{background-position:17px 0;}
.bai{background-position:-305px 0;}
.souhu{background-position:-90px 0;}
.qq{background-position:-142px 0;}
.renren{background-position:-201px 0;}
.shuoke139{background-position:-259px 0;}
.chouti{background-position:-353px 0;}
.tqq{background-position:-402px 0;}
.copyurl{padding:20px 0;}
.urltext{width:300px; height:20px; font-family:Arial;}
.cofrimurl{height:28px; width:60px; font-size:12px}
/* 成功提示 */
.right-tip{padding:20px; height:200px; text-align:center; padding-top:85px; font-size:16px; font-weight:bold; color:#169B00; background:url(../../images/detail/right-img.gif) no-repeat center 40px; letter-spacing:1px;}
.tc-close{width:60px;height:26px;font-size:14px; *margin-top:20px;}
/* 删帖 */
.delete{padding:20px;}
.delete h2{font-size:14px;}
.login-delete{padding:20px 0 40px;}
.weidenglu{font-size:12px; font-weight:bold; color:#f00; padding-bottom:10px;}
.mima{height:20px; vertical-align:middle}
.delete-button{height:28px; vertical-align:middle}
.mimatishi{position:absolute; left:0; bottom:-15px; font-size:12px; color:#f00}
.dingwei{position:relative; display:inline-block;}
.phone-delete{padding:20px 0 35px;}
.green1{color:#009900}
.phone-tishi{color:#585858; font-size:12px}
/* 收藏 */
.shoucang{padding:30px 20px; text-align:center}
.shoucang a{text-decoration:underline}
.shoucang input,.shoucang select{vertical-align:middle}
.smallbutton{width:50px; height:24px;}
.cj{font-size:12px; font-family:"宋体"; display:inline-block; margin-left:10px;}
.chuangjian{width:265px; height:38px; padding-top:22px; background:url(../../images/detail/cj-bg.gif) no-repeat; margin:0 auto;}
.shoucangjianame{width:120px; font-size:12px; color:#ccc; height:16px; line-height:16px;}
.shoucang h2{font-size:16px; color:#009900; background:url(../../images/detail/right-img.gif) no-repeat; width:100px; height:30px; margin:0 auto; padding-left:30px; line-height:30px; margin-bottom:35px;}

/* 下发短信 */
.duanxin{width:520px; height:230px; padding:30px 20px 10px;}
.duanxinleft{width:175px; height:225px; background:url(../../images/detail/duanxin_bg.gif) no-repeat; padding-right:20px; float:left;}
.duanxinleft h2{font-size:12px; font-weight:normal; color:#666; padding:9px 10px;}
.duanxinleft p{font-size:13px; line-height:22px; color:#fff; padding:0 15px;}
.duanxinright{width:320px; float:left;}
.duanxinright p{text-align:center; letter-spacing:1px; line-height:26px;}
.duanxinright p.ga{font-size:12px; color:#666; line-height:18px;}.ga cite{font-style:normal}
.ziduan{font-size:12px; margin-left:10px;}.ziduan th{font-weight:normal; text-align:right; padding-right:10px; padding-bottom:12px;}.ziduan td{padding-bottom:12px;}
.ziduantext1{width:170px;}.ziduantext2{width:50px;}.duanxinright a{text-decoration:underline}
.ziduanbtn{height:28px; margin-top:5px;}
.duanxinright h3{font-size:16px; text-align:center; vertical-align:middle; padding:40px 0;}.duanxinright h3 img{vertical-align:middle}
.green{color:#169B00}.chufa{display:block; padding:20px 0; height:26px; position:relative;}.tis{position:absolute; bottom:-5px; left:80px; color:#f00; font-size:12px}.phonewrong{background:url(../../images/grzx/logots.gif) no-repeat scroll 4px 4px #FFF2F2;border:1px solid #FF8080;padding:4px 10px 3px 26px;font-size:12px}.dingweiyong{width:320px;height:40px}

/* fe_window js*/
.fe_window_mask{left:0px;top:0px;filter:Alpha(Opacity=30);opacity:0.3;background-color:#000000;z-index:9996;}
.fe_window {position:fixed;_position:absolute;z-index:9997;}
.fe_window .outer{position:relative;}
.fe_window .contains{position:absolute;background:#fff;z-index:9999}
.fe_window .frame{background:#000;opacity:0.4;filter:alpha(opacity=40);position:absolute;top:0;left:0; z-index: 9998;}
.fe_window .contains .topbar{background-image: url(../../images/messageboxcontainer_bg.gif); background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; background-position: initial initial; background-repeat: repeat no-repeat; }
.fe_window .contains .topbar .title{font:700 14px/26px "宋体";margin-left:10px;color:#fff;width:50%}
.fe_window .contains .topbar .closebtn{display:block;width:12px;height:12px;background:url("../../images/post/background.gif") no-repeat 0 -429px;line-height:100px;overflow:hidden;margin:6px;float:right}
.fe_window .contains iframe{}
.fe_window .contains .load{font-size:14px;background:url(../../images/loading.gif) no-repeat center center;margin-left:-60px;padding-left:90px;text-align:center;color:#666}
.fe_window .contains .bottombar{}


.ads{border-top:1px solid #ccc; padding:30px 0 0;}
.adsleft{float:left; width:731px; padding-right:25px;}
.ads .road{ padding-bottom:35px;}.ads .road li{ *padding-top:17px;}
/* 联系方式 */
.contact{ width:170px; height:40px; font-size:16px;}
*html .contact{ width:169px; height:39px; font-size:16px; background:url(../../images/detail/contact_bg.gif) no-repeat; border:none;}
.tips{ font-size:12px; padding:30px 30px 0; line-height:20px;}
.daojishi{ font-size:12px; width:230px; height:30px; margin:30px 0;}
.contactcon{ padding:15px 0; margin:17px 30px 20px; border-top:1px solid #ddd; line-height:30px;}
.sendmessage{ display:inline-block; margin-left:60px; text-decoration:underline}
.jubao{ margin:0 30px; padding-bottom:24px; font-size:12px; line-height:24px;}
.gray{ color:#585858}
.jubao input{ vertical-align:middle;}
.jubaosubmit{ width:50px; height:20px; font-size:12px}
.data{padding:0 20px;}
.data table{width:100%;border-top:1px solid #e8e8e8;border-left:1px solid #e8e8e8;margin-bottom:10px;}
.data th{font-weight:lighter;background:#f7f7f7;border-top:1px solid #fff;border-left:1px solid #fff;border-bottom:1px solid #e8e8e8;border-right:1px solid #e8e8e8;padding:10px 0;color:#555}
.data td{padding:10px;border-bottom:1px solid #e8e8e8;border-right:1px solid #e8e8e8;}
.data p{padding:0 0 5px 0;margin-top:0}
.pt-yan{display:inline-block;font-size:12px;font-style:normal;margin-top:10px;color:#f00}

/* search_list_ui_position */
.beinterest{ clear:both;}
.beinterest h2{ font:bold 14px Arial, "宋体", sans-serif; color:#000; padding:15px 20px; margin:0; border-bottom:1px solid #ccc;}
.beinterest ul{ padding:15px 20px;}.beinterest ul li{ line-height:2;}
.beinterest ul li em{ font-style:normal; color:#f00;}
.beinterest ul li span{ font-size:12px; color:#666; padding-left:5px;}

/* imageview add 2011-03-02 */
#img_player{margin: 20px 0 0 10px; width:606px;}
.dc_gallery{width:600px; margin:0 auto; padding:0 7px;}
.dc_booth {width:600px; height:450px; padding:2px; border:1px solid #eee; margin-bottom:10px; position:relative;}
.dc_booth .prePic,.dc_booth .nextPic,.dc_booth .firstPic,.dc_booth .lastPic{width:600px; height:450px; text-align:center; vertical-align:middle; display:table-cell;*display:block; *font-size:393px; *font-family:Arial;}
.dc_booth .prePic img,.dc_booth .nextPic img,.dc_booth .firstPic img,.dc_booth .lastPic img{vertical-align:middle;}
.dc_booth .prePic{cursor:url("../../images/booth_left.cur"), auto;}
.dc_booth .nextPic{cursor:url("../../images/booth_right.cur"), auto;}
.dc_booth .firstPic,.dc_booth .nextPic .lastPic{ cursor:auto;}
.booth_img{width:600px; height:450px; text-align:center; vertical-align:middle; display:table-cell;*display:block; *font-size:393px; *font-family:Arial;}
.booth_img img{ vertical-align:middle;}
.dc_booth .booth_pre,.dc_booth .booth_next{ display:block; width:300px; height:454px; position:absolute; top:0;}
.dc_booth .booth_pre{ left:0;}.dc_booth .booth_next{ right:0;}
.dc_booth .booth_pre a{ background:url(../../images/space.png); display:block; cursor:url("../../images/booth_left.cur"), auto; width:100%; height:100%; outline: medium none;}
.dc_booth .booth_next a{background:url(../../images/space.png); display:block; cursor:url("../../images/booth_right.cur"), auto; width:100%; height:100%; outline: medium none;}
.dc_tool{ position:relative; height:30px; line-height:30px; font-size:12px; text-align:center;}
.dc_tool span{ display:block; width:39.5%; position:absolute; top:0;}
.dc_tool span a.endlink{cursor: default; color:#666; text-decoration:none;}
.dc_tool span.tool-pre{text-align:right; left:0;}.dc_tool span.tool-next{text-align:left; right:0;}
.dc_tool em{position:absolute;right:0px;top:0px;line-height:30px;background:url(../detail/detail.png) no-repeat -4px -340px;padding-left:22px;}
.dc_num{width:606px; height:74px; position:relative;}
.dc_pre,.dc_next{width:20px; height:65px; position:absolute; bottom:0px; cursor:pointer;}
.dc_pre{left:0px;}.dc_next{right:0px;}
.dc_pre a,.dc_next a{display:block; width:18px; height:63px; border:1px solid #eee; text-indent:-9999px;}
.dc_pre a,.dc_next a,.dc_pre a.end,.dc_next a.end,.dc_ul span,.dc_ul span.dc_select,.dc_here{background-image:url(../detail/detail.png)!important;}
.dc_pre a{background:url() 0px -282px no-repeat;}
.dc_next a{background:url() 0px -219px no-repeat;}
.dc_pre a.end{background:url() -18px -282px no-repeat; cursor:default;}
.dc_next a.end{background:url() -18px -219px no-repeat; cursor:default;}
.dc_ul{width:566px; height:74px; position:absolute; bottom:0px; left:20px; overflow:hidden;}
.dc_ul span{display:block; float:left; cursor:pointer; margin:0 4px; *display:inline; width:80px; height:60px;  padding:11px 3px 3px 3px; background:url() -125px -219px no-repeat;}
.dc_ul span.dc_select{background:url() -36px -219px no-repeat;}
.dc_bar{width:510px; height:12px; padding:2px 0; margin:5px 20px 0 20px; background:#ddd; position:relative;}
.dc_here{ display:block; width:42px; height:12px; background:url() -80px -303px no-repeat; cursor:pointer; position:absolute;}
/* 提示 */
#action,#topinfomsg{width:960px; margin:0 auto; font-size:12px; padding:8px 10px 8px 30px; line-height:20px; background:#FFFBCC url('../detail/detail.png') -190px -332px no-repeat;}#action{ display:none;}
/*==国内旅游线路==*/
/* btns */
.mt10{ margin-top:10px;}
.btn,.text,.btn input,.text input{display:inline-block;float:left;border:0;height:21px;line-height:21px}
.btn,.text{margin:0 3px 0 0}
.text{border:solid 1px #ccc;padding:1px 0 0 3px}.text input{color:#ccc}
.btn{border-width:1px;border-style:solid;border-color:#ccc #999 #999 #ccc;padding:0 1px 1px 0;background:#E7E7E7}
.btn input{background-position:right -309px;padding:0 5px 5px 5px;text-align:center;cursor:pointer}.btn:hover{text-decoration:none}
.text2,.text2 input,.btn2,.btn2 input{height:17px;line-height:17px}
.text3,.text3 input,.btn3,.btn3 input{height:27px;line-height:27px}.btn3 input{font-weight:700;font-size:14px}
.lv li i.z{width:100px;}

/* ad */
.adbox{overflow:hidden;display:none}.adbox a:hover{text-decoration:none}
#bottom_google_ad{_zoom:1}#top_google_ad,#bottom_google_ad{overflow:hidden}#bottom_google_ad b,#top_google_ad b{font-weight:400;color:#FF0508}
#top_google_ad .t b.c_r,#bottom_google_ad .t b.c_r{font-weight:700}#top_google_ad .tbimg{table-layout:auto}/*IE bug */
#freeticket{position:absolute;right:20px;bottom:28px;text-decoration:underline}
/*map*/
#mapbar{ float:left;  width:620px; border:1px solid #ccc;}
p.mapright{ float:left; width:80px; padding:0px; overflow:hidden; margin-left:8px; display:inline}
.nearby,.mapright label{ _display:inline-block; }.mapright a{ display:block; margin:2px; line-height:25px;}.yh{ line-height:28px;}
/* widgets */
.gotop{cursor:pointer;display:block;height:60px;width:17px;position:fixed;right:10px;bottom:10px;background:url('../detail/detail.png') no-repeat 0px 0px;_position:absolute;_top:expression(eval(document.compatMode && document.compatMode=="CSS1Compat") ? documentElement.scrollTop+(documentElement.clientHeight-this.clientHeight-20) : document.body.scrollTop+(document.body.clientHeight-this.clientHeight-20));}

#chatImg{ margin-left:5px;}
#chatSpan{visibility: visible; width: 384px; height: 416px; position:fixed;bottom:0;right:0;_position:absolute;_bottom:auto;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));}

.maincon{line-height:2; padding:0 10px 0px 10px;}

/*修改删除置顶*/
.itemBox{ border-left:1px solid #ccc; padding-left:10px;}
.xuxian{ height:1%; line-height:1%; font-size:1%; border-top:1px dashed #ccc; padding-bottom:5px; margin-top:5px;}
.edit{ border:1px solid #F0F0F0; background:#FAFAFA; padding:10px 15px; font-size:12px;}
.edit a,.edit span{height:25px;line-height:25px; margin-right:20px;}.edit span{ color:#B3B3B3}
.edit a i{background-image:url('../detail/detail.png')!important; background-repeat:no-repeat;display:inline-block;margin-right:4px; overflow:hidden; color:#1414CC;width:13px; height:13px; vertical-align:middle; }.edit a:link,.edit a:visited{color:#1414CC; text-decoration:none; vertical-align:middle;}.edit a:hover{ color:#F26118;text-decoration:none;}a.ed_c,a.ed_d{ margin-right:0;}
a.ed_a i{background-position: -161px 0px; }a.ed_a:hover i{background-position: -161px -13px;}
a.ed_b i{background-position: -174px 0px; }a.ed_b:hover i{background-position: -174px -13px;}
a.ed_c i{background-position: -187px 0px; }a.ed_c:hover i{background-position: -187px -13px;}
a.ed_d i{background-position: -200px 0px; }a.ed_d:hover i{background-position: -200px -13px;}


/*结束*/