<%@ Master Language="C#" MasterPageFile="~/Views/Shared/InfoDetail.Master" Inherits="System.Web.Mvc.ViewMasterPage" %>
<%@ Import Namespace="Infomation.Core.Extensions" %>
<%@ Import Namespace="Infomation.Core.Mvc" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">

</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="TopInfoMsg" runat="server">
<div id="topinfomsg">
    <font color="#000000">
        <strong><%=SiteInfo.Name%>提醒您：</strong>
        1.避免异地交易，95%以上的诈骗均发生在异地交易中。&nbsp;&nbsp;&nbsp;&nbsp;
        2.要求提前汇款或缴纳订金的都是骗子。&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#" target="_blank">如何识别狗狗是否健康</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#" target="_blank">如何识别卖狗骗术</a>
    </font>
</div>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="Main" runat="server">
<%
    var ViewTag = ViewData["ViewTag"] as ViewTag;
    var pet = ViewTag.Info as IPet;
%>
<div class="w">
    <div class="leftcol">
        <div class="row">
            <asp:ContentPlaceHolder ID="Info" runat="server">
            </asp:ContentPlaceHolder>
            <div class="user">
                <div id="newuser"></div>      
                <ul class="userinfo">
                    <li>
                        <i>联系电话：</i><span class="phone"><%=pet.Phone %></span>
                    </li>
                    <li>
                        <i>QQ/MSN：</i>
                        <%--<img src='#' />--%>
                        <%=pet.QQOrMSN %>
                    </li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>

        <div class="content">
            <p>
                <%=ViewTag.Info.Detail.Content%>
                <br />
                联系我时，请说是在<%=SiteInfo.Name%>上看到的，谢谢！
            </p>
        
		    <%var picturList = ViewTag.Info.PictureList(); %>
            <div id="imgPlayer" <%=(picturList == null || picturList.Count == 0) ? "style='display:none;'" : ""%>>
                <%--显示大图--%>
                <div id="image_wrap">
                    <img src="/Content/scrollable/gallery/img/blank.gif" />
                </div>
                <!-- "previous page" action -->
                <a class="prev browse left"></a>
                <div class="scrollable">   
                    <div class="items">
                    <%
                        for (var i=0;i<picturList.Count;i++)
                        {
                            if (i % 5 == 0)
                            {
                                %>
                                <div>
                                <%
                            }
                            %>
                                <img src="<%=picturList[i] %>" />
                            <%
                            if(i%5==4||i==picturList.Count-1)
                            {
                                %>
                                </div>
                                <%
                            }
                        }
                    %>
                    </div>
                </div>
                <!-- "next page" action -->
                <a class="next browse right"></a>
            </div>

            <div class="clear"></div>
            <div class="p_video" id="p_video" style="display:none;"></div>
        
            <div style="display:none;" id="search_list_ui_position" class="beinterest"></div>    
            <div class="clear"></div>
        </div>
    </div>
    <div class="rightcol">
        <%--广告位置--%>

        <%
            if (SiteInfo.IsTaojen)
            {
                %>
                <%--160*600宽幅摩天楼--%>
                <%=UnionAd.Baidu_160_600.Code %>
                <%
            }
            else
            {
                %>
                <%--160 x 600 - 宽幅摩天大楼--%>
                <%=UnionAd.Google_160_600.Code %>
                <%    
            }
        %>
    </div>
    <div class="clear"></div>
</div>

</asp:Content>
