<%@ Master Language="C#" MasterPageFile="~/Views/Shared/InfoDetail.Master" Inherits="System.Web.Mvc.ViewMasterPage" %>
<%@ Import Namespace="Infomation.Core.Extensions" %>
<%@ Import Namespace="Infomation.Core.Mvc" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="TopInfoMsg" runat="server">
<div id="topinfomsg">
    <font style="FONT-WEIGHT: normal; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal" face=新宋体 color=#ff0000 size=4>
        <font color=#ff0000 size=4>
            <strong>
            郑重提示：要求先汇款后拿票；或见面拿票,朋友汇款的,一定是骗子！
            <a href="#" target=_blank>常用骗术大曝光</a>
            <a href="#" target=_blank>火车票防骗查询系统</a>
            </strong>
        </font>
    </font>
</div>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="Main" runat="server">
<%
    var ViewTag = ViewData["ViewTag"] as ViewTag;
    var ticket = ViewTag.Info as ITicket; 
%>
<div class="w">
    <div class="leftcol">
        <div class="row">
            <asp:ContentPlaceHolder ID="Info" runat="server">
            </asp:ContentPlaceHolder>
            <div class="user">
    	        <div id="newuser"></div>
                <ul class="userinfo"></ul>
                <ul class="vuser nomargin">
                    <li class="call_2">
                        <i>联系电话：</i><span class="phone"><%=ticket.Phone %></span>
                    </li>
                </ul>
                <ul class="userinfo">
                    <li>
                        <i>QQ/MSN：</i>
                        <%--<img src='' />--%>
                        <%=ticket.QQOrMSN %>
                    </li>
                    <li class="n"><i>&nbsp;</i></li>
                </ul> 
            </div>
            <div class="clear"></div>
        </div>
        <div class="content">
            <p>
                <%=ViewTag.Info.Detail.Content%>
                <br />
                联系我时，请说是在<%=SiteInfo.Name%>上看到的，谢谢！
            </p>
            <%var picturList = ViewTag.Info.PictureList(); %>	
            <div id="imgPlayer" <%=(picturList == null || picturList.Count == 0) ? "style='display:none;'" : ""%>>
                <%--显示大图--%>
                <div id="image_wrap">
                    <img src="/Content/scrollable/gallery/img/blank.gif" />
                </div>
                <!-- "previous page" action -->
                <a class="prev browse left"></a>
                <div class="scrollable">   
                    <div class="items">
                    <%
                        for (var i=0;i<picturList.Count;i++)
                        {
                            if (i % 5 == 0)
                            {
                                %>
                                <div>
                                <%
                            }
                            %>
                                <img src="<%=picturList[i] %>" />
                            <%
                            if(i%5==4||i==picturList.Count-1)
                            {
                                %>
                                </div>
                                <%
                            }
                        }
                    %>
                    </div>
                </div>
            <!-- "next page" action -->
            <a class="next browse right"></a>

        <div class="clear"></div>
        <div style="display:none;" id="search_list_ui_position" class="beinterest"></div>
        <div class="clear"></div>

    </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="rightcol">
        <%--广告位置--%>

            <%
                if (SiteInfo.IsTaojen)
                {
                    %>
                    <%--160*600宽幅摩天楼--%>
                    <%=UnionAd.Baidu_160_600.Code %>
                    <%
                }
                else
                {
                    %>
                    <%--160 x 600 - 宽幅摩天大楼--%>
                    <%=UnionAd.Google_160_600.Code %>
                    <%    
                }
            %>
    </div>
    <div class="clear"></div>
</div>

<%--<div class="w content">
	<div class="piaotitle">
    	<span><a href="#">更多 (杭州 &rarr; 张掖) 转让票»</a></span>
        <span><a href="#" target="_blank">更多 (K595) 转让票»</a></span>
        <span><a href='#'>09月23日(杭州 &rarr; 张掖)全部票转让»</a></span>        
    </div>
	<div class="mtbox">
        <div class="trainer fl">
            <h3><a href="#" target="_blank"> 杭州 到 张掖火车票转让信息</a></h3>
            <ul class="trainerul">
                <li class="w"><span>09-16</span><a href='#'>杭州-张掖 K595 硬座1张 发车日期:2011-09-22</a></li>
        	</ul>
        </div>
        <div class="trainer fr">
            <h3><a href="http://jipiao.flxxwang.com/" target="_blank">特价飞机票</a></h3>
            <ul class="trainerul">
                <script type="text/javascript" src="http://jipiao.flxxwang.com/jptag.aspx?localid=79&num=6"></script>
            </ul>
        </div>
    	<div class="clear"></div>
	</div>
</div>--%>

<%--<div class="w">
    <div class="footad pt20">
        <div id="googlead_list"></div>
        <div>
        </div>
    </div>
</div>--%>
</asp:Content>
