<%@ Master Language="C#" MasterPageFile="~/Views/Shared/Post/poststep.Master" Inherits="System.Web.Mvc.ViewMasterPage" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <asp:ContentPlaceHolder ID="head" runat="server" />
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="PublishCount" runat="server">
    <asp:ContentPlaceHolder ID="PublishCount" runat="server" />
</asp:Content>
<asp:Content ID="Content5" ContentPlaceHolderID="TopMsg" runat="server">
</asp:Content>
<asp:Content ID="Content6" ContentPlaceHolderID="Main" runat="server">
<table cellpadding="0" cellspacing="0" class="box1" id="formTb">
    <asp:ContentPlaceHolder ID="Rows" runat="server" />
    <tr> 
        <td class="t"> <b class="red">*</b> 补充说明： </td> 
        <td> <textarea name="Content" class="textarea2" id="Content"  maxLength=2000></textarea> 
            <span id="Content_Tip"></span> 
        </td> 
    </tr> 
    <tr id="pdv">
        <td class="t"> </td> 
        <td>
            <div id="uploadPic" value=""></div> 
            <script type="text/javascript">
                $info.Uploader.init();
            </script>
        </td>
    </tr> 
    <tr> 
        <td class="t"> <b class="red">*</b> 联系人： </td> 
        <td> 
            <input type="text" name="goblianxiren" id="goblianxiren" value='' class="text2"  maxLength=6 />
            <label id="lbBiz" style="display:none"><input class="base" type="checkbox" value="1" id="IsBiz" name="IsBiz"  />我是商家</label>
            <span id="goblianxiren_Tip"></span> 
        </td> 
    </tr> 
    <tr> 
        <td class="t"> </td> 
        <td> 手机和QQ请至少填写一项！ </td> 
    </tr> 
    <tr> 
        <td class="t"> 手机或电话： </td> 
        <td> <input class="text2" type="text" id="Phone" name="Phone" value=''   /> <span id="Phone_Tip"></span> </td> 
    </tr> 
    <tr>
        <td class="t">QQ或MSN：</td>
        <td><input class="text2" type="text" qtb="true" value='' id="IM" name="IM" /> <span id="IM_Tip"></span></td>
    </tr>  
    <tr> 
        <td class="t"> </td> 
        <td> <input type="submit" id="fabu" class="fabu1" value="　　发布　　" ct="submit" />  </td> 
    </tr>
</table>
</asp:Content>
<asp:Content ID="Content7" ContentPlaceHolderID="PostScript" runat="server">
<script type="text/javascript">
    function formValidatorSuccess() {
        if (checkContact()) {
            posting();
            post();
        }
        return false;
    }
//    $(document).ready(function () {
//        $.formValidator.initConfig({ formid: "aspnetForm", errorfocus: true, btnid: 'fabu', fun: function () {
//            //return checkContact();
//            if (checkContact()) {
//                posting();
//                post();
//                return false;
//            }
//        }
//    });
    $(document).ready(function () {
        //    $("#Content").formValidator({ tipid: "Content_Tip", onfocus: "10~2000个字之间，不能填写电话、QQ等联系方式或特殊符号，否则信息将会被删除" }).inputValidator({ onerror: "请填写补充说明" }).regexValidator({ regexp: "^[\\s\\S]*$#^[\\s\\S]{10,}$#^([\\s\\S]){10,2000}$", onerror: "请填写补充说明#补充说明不足10个字#补充说明应在10~2000个字之间，不能填写电话、QQ等联系方式" }).functionValidator({ fun: function (val, elem) { var _r = $.formValidator.checkContent(val); if (typeof _r == "string") return _r; if (_r) { if (val == _contentTip) return '补充说明是必填项'; return true; } } });
        $("#Content").formValidator({ tipid: "Content_Tip", onfocus: "10~2000个字之间，不能填写电话、QQ等联系方式或特殊符号，否则信息将会被删除" }).inputValidator({ onerror: "请填写补充说明" }).regexValidator({ regexp: "^[\\s\\S]*$#^[\\s\\S]{10,}$#^([\\s\\S]){10,2000}$", onerror: "请填写补充说明#补充说明不足10个字#补充说明应在10~2000个字之间，不能填写电话、QQ等联系方式" }).functionValidator({ fun: function (val, elem) { return $.formValidator.checkContent(val); }, onerror: "内容太过简单" });
        $("#Phone").formValidator({ tipid: "Phone_Tip", onfocus: "请正确填写电话号码，分机可以用“-”分开", q2b: true, 'empty': true }).inputValidator({ onerror: "请填写电话号码" }).regexValidator({ regexp: "(^$)|(^(0\\d{2,3})?-?([2-9]\\d{6,7})(-\\d{1,5})?$)|(^((\\(\\d{3}\\))|(\\d{0}))?(13|14|15|18)\\d{9}$)|(^(400|800)\\d{7}(-\\d{1,5})?$)|(^(95013)\\d{6,8}$)", onerror: "电话填写错误。<br/>请参照格式填写：87654321-001或138********" });
        $('#goblianxiren').formValidator({ tipid: 'goblianxiren_Tip', onfocus: '2～6个字，不能填写电话和特殊符号。', q2b: true }).regexValidator({ regexp: "\\S+#^(.){2,6}$#^[\\w\\d\\s\\u4e00-\\u9fa5]*$", onerror: "请输入联系人#联系人不足2个字#联系人不能填写特殊符号" });
        $("#IM").formValidator({ tipid: "IM_Tip", onfocus: "即时通讯格式为：<br/>QQ：123456 &nbsp;&nbsp; MSN：myname@example.com", q2b: true, 'empty': true }).inputValidator({ onerror: "请填写QQ" }).regexValidator({ regexp: "(^[1-9]\\d{4,9}$)|(^\\w+((-\\w+)|(\\.\\w+))*\\@[A-Za-z0-9]+((\\.|-)[A-Za-z0-9]+)*\\.[A-Za-z0-9]+$)", onerror: "QQ或MSN输入错误" }); setTimeout($.j.initTagCheck, 1000);
    });
    function checkContact() {
        var a = $("#Phone").val(); var b = $("#IM").val();
        if (a == '' && b == '') {
            //$.formValidator.setTipState(null, "onError", "手机和QQ请至少填写一项 ", "Phone_Tip");
            $.formValidator.setTipState("#Phone_Tip", "onError", "手机和QQ请至少填写一项 ", "Phone_Tip");
            return false;
        } else {
            $('#Phone_Tip').remove();
        }
        return true;
    }

    String.prototype.TrimEnd = function (c) { return this.replace(new RegExp(c + '*$'), ''); };

    function tojump(obj) {
        var obj = $(':radio[name="pagetype"]:checked');
        var index = parseInt(obj.val()); 
        if(index==1){
            location.href = '<%=Url.Action("post","jiaoyou",new{smallcategory="nvyou"})%>';
        }
        else if(index==2){
            location.href = '<%=Url.Action("post","jiaoyou",new{smallcategory="xingqu"})%>'; 
        }
        if(index==3){
            location.href = '<%=Url.Action("post","jiaoyou",new{smallcategory="laoxiang"})%>'; 
        }
//        var arrID = ['837', '23', '22', '27'];
//        var url = location.href; url = url.replace(location.search, ''); url = url.TrimEnd('/');
//        var url2 = url; if (isAdd()) {
//            url2 = url.replace(new RegExp('/(\\d+)/s5', 'i'), '/' + arrID[index] + '/s5');
//        } else {
//            url = '/2996/23/up_0/s5'; url2 = url.replace(new RegExp('/2996/23/up_', 'i'), '/2996/' + arrID[index] + '/up_');
//        } if (url != url2) location.href = url2;
    }
//    function isAdd() { return '0' == '0'; }
</script>

<asp:ContentPlaceHolder ID="PostScript" runat="server" />
<script type="text/javascript">
    function FillData(obj) {
        if (obj == null) {
            return;
        }
        obj.Title = $("#Title").val();

        obj.Content = $("#Content").val();
        obj.ContactPerson = $("#goblianxiren").val();
        obj.Phone = $("#Phone").val();
        obj.QQOrMSN = $("#IM").val();
        obj.IsBiz = $("#IsBiz").attr("checked");

        obj.UserId = GetUserId();
        
        obj.CityId = GetCityId();
        obj.RegionId = GetRegionId();
        obj.CircleId = GetCircleId();
        obj.TId = GetTId();
        if ($("#Pic").val() != "") {
            obj.Pictures = $("#Pic").val();
        }
    }
    //    function clearPicValue() {//保留
    //        var c = $("#pdv:hidden"); if (c.length > 0) {
    //            $('#Pic').val(''); $('#PicDesc').val('');
    //        }
    //    }
    $("#topinfomsg").hide();
    $("#mydear").hide();
</script>
</asp:Content>