<%@ Master Language="C#" MasterPageFile="~/Views/Shared/Post/poststep.Master" Inherits="System.Web.Mvc.ViewMasterPage" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <asp:ContentPlaceHolder ID="head" runat="server" />
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="PublishCount" runat="server">
    <asp:ContentPlaceHolder ID="PublishCount" runat="server" />
</asp:Content>
<asp:Content ID="Content5" ContentPlaceHolderID="TopMsg" runat="server">
<FONT color=#000000><STRONG>提示：</STRONG>
发布重复信息或灌水信息，信息将会被删除，严重者将锁定帐户。
<A href="http://about.flxxwang.com/89.html?categid=1#b" target=_blank><U>查看版规 </U></A></FONT>
</asp:Content>
<asp:Content ID="Content6" ContentPlaceHolderID="Main" runat="server">
<table cellpadding="0" cellspacing="0" class="box1" id="formTb"> 
    <tr> 
        <td class="t"> <b class="red">*</b> 标 题： </td> 
        <td> <input type="text" name="Title" id="Title" f="{0}" value='' class="text1"  maxLength=25 /> <span id="Title_Tip"></span> </td> 
    </tr> 
    <%--<tr> 
        <td class="t"> <b class="red">*</b> 类 别： </td> 
        <td> 
            <asp:ContentPlaceHolder ID="ObjectType" runat="server" /> 
        </td> 
    </tr>--%>
    <asp:ContentPlaceHolder ID="ObjectTypeRow" runat="server" />
    <tr> 
        <td class="t"> 详细地址： </td> 
        <td> <input class="text1" type="text" id="dizhi" f="{0}" name="dizhi" value=''  Except='null'  maxLength=50 /> <span id="dizhi_Tip"></span> </td> 
    </tr> 
    <tr> 
        <td class="t"> <b class="red">*</b> 补充说明： </td> 
        <td> <textarea name="Content" class="textarea2" id="Content"  maxLength=2000></textarea> <span id="Content_Tip"></span> </td> 
    </tr> 
    <tr>
        <td class="t"> </td> 
        <td>
            <div id="uploadPic" value=""></div> 
            <script type="text/javascript">
                $info.Uploader.init();
            </script>
        </td>
        </tr> 
        <tr id="tt" style="display: none"> 
            <td class="t"> 选择标签： </td> 
            <td> 
                 <asp:ContentPlaceHolder ID="InfoTag" runat="server" />
            </td> 
        </tr> 
        <tr> 
            <td class="t"> <b class="red">*</b> 联系人： </td> 
            <td> <input type="text" name="goblianxiren" id="goblianxiren" value='' class="text2"  maxLength=6 /> <span id="goblianxiren_Tip"></span> </td> 
        </tr> 
        <tr> 
            <td class="t"> <b class="red">*</b> 手机或电话： </td> 
            <td> <input class="text2" type="text" id="Phone" name="Phone" value=''   /> <span id="Phone_Tip"></span> </td> 
        </tr>  
        <tr> 
            <td class="t"> </td> 
            <td> <input type="submit" id="fabu" class="fabu1" value="　　发布　　" ct="submit" />  </td> 
        </tr> 
    </table>
</asp:Content>
<asp:Content ID="Content7" ContentPlaceHolderID="PostScript" runat="server">
<script id="postScript" type="text/javascript">
    $("#mydear").hide();
    $().ready(function () {
        $(':checkbox[name="Tag"]').attr('f', '{0}');
        $.c.user.unlogin("login");
        //        showTag();
        //        $('#ObjectType').get(0).onchange = showTag;
//        $.formValidator.initConfig({ formid: "aspnetForm", errorfocus: true, btnid: 'fabu' });
        $("#Title").formValidator({ tipid: "Title_Tip", onfocus: "6-25个字，不能填写电话和特殊符号<br/>标题将被展示在详情页和列表页最醒目的位置", q2b: true }).regexValidator({ regexp: "^[\\s\\S]*$#^[\\s\\S]{6,}$#^(.){6,25}$", onerror: "请输入标题#标题不足6个字#6-25个字，不能填写电话和特殊符号！" });
        $('#ObjectType').formValidator({ tipid: 'ObjectType_Tip', onfocus: '' }).functionValidator({ fun: function (val, elem) { return val != ''; }, onerror: '类别是必选项' });
        $('#dizhi').formValidator({ tipid: 'dizhi_Tip', onfocus: '请输入详细地址', q2b: true, 'empty': true }).regexValidator({ regexp: "^(.){2,50}$#^[\\w\\[\\]\\(\\)\\{\\}\\.\\s,\\-\\*，。（）【】“”—‘’\\u4e00-\\u9fa5]*$", onerror: "地址不足2个字#地址里不能填写特殊字符" });
        $('#Content').formValidator({ tipid: 'Content_Tip', onfocus: '10~2000个字之间，不能填写电话、QQ等联系方式或特殊符号，否则信息将会被删除' }).regexValidator({ regexp: "^[\\s\\S]*$#^[\\s\\S]{10,}$#^([\\s\\S]){10,2000}$", onerror: "请填写补充说明#补充说明不足10个字#补充说明应在10~2000个字之间，不能填写电话、QQ等联系方式" });
        $('#goblianxiren').formValidator({ tipid: 'goblianxiren_Tip', onfocus: '2~6个字，不能填写电话和联系方式', q2b: true }).regexValidator({ regexp: "\\S+#^(.){2,6}$#^[\\w\\d\\s\\u4e00-\\u9fa5]*$", onerror: "请输入联系人#联系人不足2个字#联系人不能填写特殊符号" });
        $('#Phone').formValidator({ tipid: 'Phone_Tip', onfocus: '请正确填写电话号码，分机可以用“-”分开。', q2b: true }).regexValidator({ regexp: "(^(0\\d{2,3})?-?([2-9]\\d{6,7})(-\\d{1,5})?$)|(^((\\(\\d{3}\\))|(\\d{0}))?(13|14|15|18)\\d{9}$)|(^(400|800)\\d{7}(-\\d{1,5})?$)|(^(95013)\\d{6,8}$)", onerror: "电话填写错误。<br/>请参照格式填写：87654321-001或138********" }); ;
        $('#ObjectType').get(0).onchange = function () {
            $info.gettag("ObjectType", "tt", "tagul");
            setTimeout($.j.initTagCheck, 1000);
        };
        $info.gettag("ObjectType", "tt", "tagul");
        setTimeout($.j.initTagCheck, 1000);
    });
    //    function showTag() {
    //        $.c.sale.gettag(8645, 2996, 'ObjectType', 0, "tagul", "tt");
    //        setTimeout($.j.initTagCheck, 1000);
    //    }

    //    function clearPicValue() {//保留
    //        var c = $("#pdv:hidden"); if (c.length > 0) {
    //            $('#Pic').val(''); $('#PicDesc').val('');
    //        }
    //    }     
</script>
<asp:ContentPlaceHolder ID="PostScript" runat="server" />
</asp:Content>
