<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
	<configSections>
		<sectionGroup name="Framework">
			<section name="DatabaseProvider" requirePermission="false" type="Framework.Provider.DatabaseProviderSection,Framework.DatabaseProvider" allowDefinition="MachineToApplication" restartOnExternalChanges="true"/>
		</sectionGroup>
		<!--企业库配置-->
		<section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" requirePermission="true"/>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" requirePermission="true"/>
		<!--log4net-->
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
	</configSections>
	<appSettings>
		<add key="webpages:Version" value="1.0.0.0"/>
		<add key="ClientValidationEnabled" value="true"/>
		<add key="UnobtrusiveJavaScriptEnabled" value="true"/>
		<add key="PhonesFolder" value="http://www.wangluocd.com/Phones"/>
		<!--<add key="RouteDebugger:Enabled" value="true" />-->
	</appSettings>
	<Framework>
		<DatabaseProvider defaultProvider="DbProvider">
			<providers>
				<!--<add name="XmlProvider" type="XmlProvider"/>-->
				<add name="FrameworkDbProvider" type="Framework.Provider.DbProvider,Framework.DatabaseProvider" connectionStringName="Framework" tablePrefix=""/>
			</providers>
		</DatabaseProvider>
	</Framework>
	<!--企业库配置-->
	<enterpriseLibrary.ConfigurationSource selectedSource="System Configuration Source">
		<sources>
			<add name="System Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.SystemConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null"/>
			<!--<add name="Cache Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null"
                filePath="E:\Framework4\Framework.MvcWeb\Config\Cache.config" />-->
			<!--<add name="Data Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null"
                filePath="E:\Framework4\Framework.MvcWeb\Config\Data.config" />-->
			<!--<add name="Cryptography Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null"
                filePath="E:\Framework4\Framework.MvcWeb\Config\Cryptography.config" />-->
			<!--<add name="Logging Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null"
                filePath="E:\Framework4\Framework.MvcWeb\Config\Logging.config" />-->
			<!--<add name="Security Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null"
                filePath="E:\Framework4\Framework.MvcWeb\Config\Security.config" />-->
		</sources>
		<redirectSections>
			<!--<add sourceName="Cache Configuration Source" name="cachingConfiguration" />-->
			<!--<add sourceName="Data Configuration Source" name="dataConfiguration" />-->
			<!--<add sourceName="Cryptography Configuration Source" name="securityCryptographyConfiguration" />
      <add sourceName="Logging Configuration Source" name="loggingConfiguration" />
      <add sourceName="Security Configuration Source" name="securityConfiguration" />-->
		</redirectSections>
	</enterpriseLibrary.ConfigurationSource>
	<dataConfiguration defaultDatabase="Framework"/>
	<connectionStrings>
		<!--<add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>-->
		<add name="Framework" connectionString="Data Source=127.0.0.1;Initial Catalog=Framework;User ID=sa;Password=sa" providerName="System.Data.SqlClient"/>
		<!--<add name="Lovewall" connectionString="Data Source=127.0.0.1;Initial Catalog=Flxxwang;User ID=sa;Password=sa" providerName="System.Data.SqlClient"/>-->
		<!--Connection Timeout=600 (秒为单位)-->
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			</assemblies>
		</compilation>
		<authentication mode="Forms">
			<forms loginUrl="~/Account/LogOn" timeout="2880"/>
		</authentication>
		<membership defaultProvider="DbMembershipProvider">
			<providers>
				<clear/>
				<!--<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" applicationName="/"/>-->
				<add name="DbMembershipProvider" type="Framework.Users.DbMembershipProvider,Framework" connectionStringName="Framework" applicationName="/" description="" tablePrefix="fr_" parmPrefix="@" passwordFormat="Encrypted"/>
			</providers>
		</membership>
		<profile defaultProvider="DbProfileProvider" enabled="true">
			<providers>
				<clear/>
				<!--<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="ApplicationServices" applicationName="/"/>-->
				<add name="DbProfileProvider" type="Framework.Users.DbProfileProvider,Framework" connectionStringName="Framework" applicationName="/" description="" tablePrefix="fr_" parmPrefix="@"/>
			</providers>
			<!--<properties>-->
			<!--Web Application则没法自动生成,不必配置-->
			<!--<clear/>-->
			<!--<add name="TrueName" type="System.String"/>
				<add name="Nickname" type="System.String"/>
			</properties>-->
		</profile>
		<roleManager enabled="true" defaultProvider="DbRoleProvider">
			<providers>
				<clear/>
				<!--<add connectionStringName="ApplicationServices" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>-->
				<add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
				<add name="DbRoleProvider" type="Framework.Users.DbRoleProvider,Framework" connectionStringName="Framework" applicationName="/" description="" tablePrefix="fr_" parmPrefix="@"/>
			</providers>
		</roleManager>
		<pages>
			<controls>
				<!--<add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>-->
			</controls>
			<namespaces>
				<add namespace="System.Web.Helpers"/>
				<add namespace="System.Web.Mvc"/>
				<add namespace="System.Web.Mvc.Ajax"/>
				<add namespace="System.Web.Mvc.Html"/>
				<add namespace="System.Web.Routing"/>
				<add namespace="System.Web.WebPages"/>
				<add namespace="Framework.WebControls.Mvc"/>
			</namespaces>
		</pages>
		<!--<customErrors mode="On" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>-->
		<!--<customErrors mode="On" defaultRedirect="errorpage.aspx" redirectMode="ResponseRewrite"/>-->
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<log4net>
		<!--错误日志配置-->
		<appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender">
			<param name="File" value="Log\\LogError\\"/>
			<param name="AppendToFile" value="true"/>
			<param name="MaxSizeRollBackups" value="100"/>
			<param name="MaxFileSize" value="10240"/>
			<param name="StaticLogFileName" value="false"/>
			<param name="DatePattern" value="yyyyMMdd.TXT"/>
			<param name="RollingStyle" value="Date"/>
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%n异常时间：%d [%t] %n异常级别：%-5p %n异 常 类：%c [%x] %n%m %n "/>
			</layout>
		</appender>
		<!--信息日志配置-->
		<appender name="InfoAppender" type="log4net.Appender.RollingFileAppender">
			<param name="File" value="Log\\LogInfo\\"/>
			<param name="AppendToFile" value="true"/>
			<param name="MaxFileSize" value="10240"/>
			<param name="MaxSizeRollBackups" value="100"/>
			<param name="StaticLogFileName" value="false"/>
			<param name="DatePattern" value="yyyyMMdd.TXT"/>
			<param name="RollingStyle" value="Date"/>
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%n日志时间：%d [%t] %n日志级别：%-5p %n日 志 类：%c [%x] %n%m %n"/>
			</layout>
		</appender>
		<!--控制台-->
		<!--<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%5level [%thread] (%file:%line) - %message%newline"/>
      </layout>
    </appender>-->
		<!--log4net.LogManager.GetLogger("logerror")用这个来选择这种类型-->
		<logger name="logerror">
			<level value="ERROR"/>
			<appender-ref ref="ErrorAppender"/>
		</logger>
		<logger name="loginfo">
			<level value="INFO"/>
			<appender-ref ref="InfoAppender"/>
		</logger>
		<root>
			<level value="INFO"/>
			<appender-ref ref="InfoAppender"/>
			<appender-ref ref="ConsoleAppender"/>
		</root>
	</log4net>
</configuration>
