body,dl,ol,ul,li,dt,dd,p,h2,h3,h4,table.tr,td{margin:0;padding:0;list-style:none}
body{font-family:Arial,"宋体";color:#333; font-size:12px;zoom:1}
a{color:#00C;text-decoration:none;cursor:pointer;}
a:hover
{
    /*color:#FF0508;*/
    color:#10ade4;
    text-decoration:underline;
}
.clear{clear:both;font-size:0;height:0;overflow:hidden}.hc{display:none}.sc{display:block} img{ border:none;} .fr{ float:right;}
.cb{width:990px;margin:0 auto;clear:both;padding:0 5px;overflow:hidden; height:1%; margin-top:-5px}
a.link_red
{
    /*color:#ff0508;*/
    color:#10ade4;
}
.red,.cred,#hot a.red
{
    /*color:#f00*/
    color:#10ade4;
}
.f12{font-size:12px}.f14{font-size:14px}#fabu:hover{}
.bar_left .tuan,.bar_left .gap{display:none}
/*header*/
#headerinside{width:990px;margin:0 auto;clear:both;height:75px; position:relative; z-index:666}
#logo{position:absolute;left:10px;top:20px}
#logo span{ height:32px; border-left:1px solid #e6e6e6; margin-left:10px; padding-left:10px; display:inline-block; white-space:nowrap; position:absolute; top:7px; left:152px}
#logo span b{font-size:24px; color:#4d4d4d; margin-top:8px; display:inline-block}
#logo:hover,#logo a:hover{text-decoration:none}
#searchbar{position:absolute;left:490px;top:26px; line-height:26px;}#searchbar i{font-style:normal}#key,#keyword,#searchbtn,#fabu,.jobbtn{background-image:url(/Content/Fenlei/assets/images/topbar.png) !important}#key{background:url() repeat-x 0 -320px; height:30px; padding:2px 0; display:inline-block; float:left}#keyword{background:url() no-repeat 0 -285px; width:253px;height:22px; line-height:22px; padding:4px 0; border:none; padding-left:38px; float:left; display:inline-block; overflow:hidden}.keyword2{color:#000}#searchbtn{background:url() no-repeat 0 -358px;width:123px;height:35px; font-size:16px; font-weight:bold; cursor:pointer; overflow:hidden; text-align:center; color:#fff; line-height:33px; line-height:32px\0; padding-bottom:4px;border:none; float:left}#searchbtn.btnal2{text-decoration:underline}
#fabu{position:absolute;right:0;top:26px; background:url() no-repeat 0 -395px; width:118px; height:35px; line-height:35px; display:inline-block; font-size:14px; font-weight:bold; color:#000; text-align:center; float:left;cursor:pointer;}
.tooltip{width:274px; padding:8px;border:1px solid #dcdadc;background:#fff;margin-top:-4px;line-height:200%}.tooltip ul{width:100%; overflow:hidden}.tooltip li{height:26px;overflow:hidden;padding-left:5px}.tooltip li a{text-decoration:none;color:#666;font-size:13px}.tooltip li a b{color:#002cad}.tooltip li .tool_r{float:right;color:#008000;font-size:11px}.tooltip li.selected a b,.tooltip li.selected a,.tooltip li.selected .tool_r{color:#FFF8D8}.tooltip li.selected{background:#f97d03;cursor:pointer;color:#FFF8D8; padding-right:8px;}.closewindow{float:right;margin:-5px 5px 0 0;}
.searjob #keyword{width:230px; padding-left:98px;}
#searchbar.searjob{left:356px;}
#searchbar #searchbtn{width:72px;}
#searchbar .jobbtn{background:url() no-repeat right -358px; padding-right:2px;height:35px;float:left; display:inline-block}
#searchbar i{font-style:normal}
#searnav{position:absolute; left:385px; top:34px;}
#searnav{list-style:none;margin:0;padding:0; }
#searnav a{text-decoration: none; text-transform: lowercase; text-align: center; color:#4e4d4d; font-size:12px; height:23px; line-height:23px; width:60px;float:left; display:block; background:#fff}
#searnav a i{width:60px; height:18px; line-height:18px; border-right:1px solid #e6e6e6; display:inline-block; font-style:normal; overflow:hidden}
#searnav a i span{display:inline-block;}
#searnav .searlist a:hover{color:#000; background:#f1f1f1; }
#searnav .searlist{display:none; }
#searnav a:hover{position:relative;display:block}
#searnav .searlist a{display:none}
#searnav a:hover .searlist{display:inline-block;position:absolute;left:-3px;top:23px; border-top:1px solid #ff7e05; }
#searnav a:hover .searlist{width:62px; margin:0; padding:0; float:left; overflow:hidden}
#searnav a:hover .searlist a{display:inline-block;height:28px; line-height:28px; margin:0; float:left; padding-bottom:0; border:none; clear:left;}
#searnav a:hover .searlist div{border:1px solid #ff7e05; background:#fff; width:60px; float:left;}

.arrows{background:url(/content/fenlei/ui6/index/jobsear.gif) no-repeat 0 -6px; width:7px; height:4px; display:inline-block; margin-left:4px; overflow:hidden; vertical-align:middle; *margin-top:4px;}
#searnav a:hover .arrows{background-position:0 0}
/*warning*/
#warning{width:1000px;margin:5px auto;clear:both;overflow:hidden;}
#warningbg{ background:#fffed9;clear:both; padding:5px 10px; height:24px; line-height:24px;font-size:12px; border:1px solid #f5e1ba; color:#000; overflow:hidden}
#warning span.fr{float:right; font-size:12px; }
#warning span.fr input{vertical-align:middle;}
.cred{color:#f00}
#warning .wints{background:url(/content/fenlei/ui6/fang/detail.png) no-repeat -200px -338px; padding-left:18px; float:left; }
#chkDirect{margin-right:5px}
/* 地标区域 */
.searchitem,#bottom_google_ad,a.t{_zoom:1}
.searchitem{font-size:14px; padding:10px; padding-right:0; padding-bottom:0; color:#000; line-height:24px;}
.searchitem a{margin-right:13px;display:inline-block;white-space:nowrap; text-decoration:none}
.searchitem .morediv{clear:both;background:#e6eefe;padding:0 10px 0 0}.morediv a{margin-top:2px;margin-bottom:2px}
/* tab */
#global{position:relative;z-index:99}
.tabs{border-bottom:solid 2px #ff7200;height:28px; overflow:hidden}
.tabs p{padding:0; padding-right:10px; height:28px; margin:0 10px; line-height:28px; border:solid 1px #e9e9e9;border-bottom:none;background:#fdfdfd; text-align:right}
.tabs a{display:inline-block;height:28px; line-height:28px; display:inline-block}
.tabs a:hover
{
    text-decoration:none;
    color:#f00
}
.gap{color:#ccc;margin:0 6px;font-family:'宋体';*font-family:Tahoma; font-style:normal}
.tabs .select span{display:inline-block;padding:0 6px 0 8px;height:28px;line-height:30px;overflow:hidden;font-size:14px}
.tabs .select{background:url() no-repeat right -67px #fd7a0e;margin-top:-1px;color:#fff;float:left;padding:0 2px 0 0;border-bottom:solid 1px #fd7a0e; margin-left:-1px; _position:relative}
.tabs .select:hover{color:#fff}
.tabs .select span{background-position:0 -95px;font-weight:700;border-bottom:solid 1px #fd7a0e}
.tabs a.pubbtn{float:right;font:700 14px/2 verdana;color:#f00;margin:0 8px 0 0;background-position:-1000px 0}.tabs a.pubbtn:hover{color:#eb0000}
.tabs .select,.tabs .select span,.lt,.rt{background-image:url(/content/fenlei/assets/images/list/sprites.png)!important;background-repeat:no-repeat}
.lt,.rt{position:absolute;top:0;display:block;width:2px;height:2px;overflow:hidden}
.rt{background:url() right -217px;right:10px}
.filterbar{background:url(/content/fenlei/assets/images/list/sprites.png) repeat-x 0 -1239px #fff;padding:0 10px; height:40px; line-height:21px;line-height:22px\0;border-bottom:solid 1px #e5e5e5;zoom:1}
.filterbar span,.filterico,.filterbar h1{float:left;height:21px; display:inline-block}.filterbar h1{margin-right:10px;font-size:14px; float:left; *padding-top:8px}
.tip_ding, .more{float: right; padding-top:8px}
/* filterBar */
.subarea{background:url(/content/fenlei/assets/images/list/sprites.png) repeat-x 0 -1239px;padding:10px;line-height:21px;line-height:22px\0;zoom:1;border-bottom:solid 1px #f1f1f1}
.subarea a,.subarea a span{display:inline-block;white-space:nowrap}
.subarea a{margin:0 10px 0 -5px;padding:0 0 0 5px}.subarea a:hover{ text-decoration:none}
.subarea a span{overflow:hidden;height:22px;line-height:22px;padding:0 5px 0 0}
.subarea a.select{background-position:0 -239px;color:#fff}
.subarea a.select span{background-position:right -239px}
/* 筛选区域 */
#sift{color:#666;background:#F3F6FF;padding-left:10px;padding:8px 0 7px 10px;height:26px;line-height:26px;position:relative;z-index:9}
.icotip{position:absolute;right:10px;top:7px}
.shif span{float:left;display:inline-block}
.shif span.hc{display:none}
i.text input{text-align:center}
i.text #keyword1{text-align:left;padding:0 0 0 3px}
.shif .inputbox{position:relative;z-index:10}
.shif .focusbox{position:relative;z-index:99}
.shif .focusbox .hc{line-height:1.8;display:block;position:absolute;top:-5px;left:-6px;background:#fff;border:solid 1px #bbb;width:99px;z-index:9;padding:34px 0 5px 5px;padding:34px 4px 5px 2px\09;text-align:left}.focusbox .hc i.btn{margin-left:2px\9}
#selected{display:block;clear:both;padding:9px 10px 9px 4px;color:#666;border-bottom:solid 1px #ddd;overflow:hidden;zoom:1}#selected a,#selected span{display:inline-block;float:left;margin:0 0 0 6px;line-height:24px;overflow:hidden}#selected a.par{border:solid 1px #ddd;padding:0 20px 0 5px;line-height:21px;line-height:24px\9;*line-height:24px;height:22px;background:url() no-repeat right -152px;color:#666;text-decoration:none}#selected a.par em{color:#000;font-style:normal}

.wrap,#search{width:990px; margin:0px auto;}
.contop{border-top:1px solid #ddd; margin-top:15px; padding-top:10px}
.search{ float:left}.search select{float:left;margin-right:3px;font-size:18px}
.searchtext{ width:205px; height:24px; border:1px solid #7996AE; font-size:14px; line-height:24px; color:#999; float:left; overflow:hidden}
i.btn{line-height:28px;height:28px;background:url(/content/fenlei/images/list/selinput.gif) no-repeat right -240px;display:inline-block;float:left; margin-left:3px; padding:0}
i.btn input{background:url(/content/fenlei/images/list/selinput.gif) no-repeat 0 -240px; border:none;text-align:center;line-height:28px;height:28px;color:#000;text-decoration:none;padding:0 2px 0 7px;margin-right:5px; margin-left:0}
i.btn:hover{background-position:right -269px}i.btn input:hover{background-position:left -269px}
i.btn:active{background-position:right -298px}i.btn input:active{background-position:left -298px}
.post{ float:right; padding-right:10px;}.post a{ font-size:14px; font-weight:bold; color:#f00; text-decoration:underline; display:inline-block; margin:35px 0 0 15px;}
.morezufang{margin:50px auto 0;background:#fff;zoom:1; text-align:center; font-weight:bold; font-size:18px}
.morezufang a{color:#f00; text-decoration:underline}

.hotcategory{ display:block; margin:10px 0;}
.hotcategory li{ width:178px; height:30px; padding:0 10px; line-height:30px; overflow:hidden; float:left; color:#666}
.hotcategory li a{ font-size:14px;}
.hotcategory li cite{ font-size:11px; color:#666; font-style:normal;}
.types li{ width:280px; height:100px; padding:0 55px 0 10px; float:left; overflow:hidden;}
.types li.n{ padding:0 10px 0 10px;}
.types h2{ font-size:14px; padding:20px 0 7px; border-bottom:1px solid #ddd;}
.types p{ width:100%; line-height:24px; height:48px; padding-top:3px; overflow:hidden;}
.types p a{ color:#666; float:left; white-space:nowrap}.types p a.red{color:#f00;}.types p a:hover{ color:#f00;}.types p cite{ padding:0 8px; *padding:0 7px; color:#e8dde8; float:left;}
h3{ font-size:14px; padding:40px 10px 10px; border-bottom:1px solid #ddd}
.tops{ padding-left:10px; font-size:12px; font-weight:lighter}
.companyposition{ display:block; margin-top:10px;}
.companyposition li{ width:310px; height:18px; padding:0 10px; line-height:18px; padding-top:4px; overflow:hidden; float:left;}
.companyposition li a:hover,.companyposition li a.blacklink:hover{ color:#f00}
.companyposition li a.blacklink{ color:#666;}
.companylogos{ display:block; margin-left:10px;}
.companylogos li{ width:180px; height:53px; border:1px solid #727275; float:left; margin:10px 13px 0 0;}
.tips{ line-height:25px; padding:10px; color:#000}
.others{ display:block; border-top:1px solid #ddd; padding:10px; line-height:200%}
.others li{float:left;white-space:nowrap;width:11em;margin-right:0.3em;overflow:hidden}
.others li a{ color:#000}
.others li a:hover 
{
    /*color:#f00*/
    color:#10ade4;
}
.friendlink{}
.friendlink a{ margin-left:10px; overflow:hidden; color:#000}
#footer{ width:970px; border-top:1px solid #ddd; text-align:center; padding:10px; margin:0 auto; line-height:180%}
.sixclass{ display:block; margin:15px 0;}
.sixclass li{ width:455px; padding:0 30px 22px 10px; float:left}
.sixclass h2{ font-size:14px; padding-bottom:4px;}
.sort{ width:100%;}
.sort th{ text-align:left; font-weight:normal; color:#aaa; line-height:24px; vertical-align:top}
.sort td{ line-height:24px; vertical-align:top}
.sort td a{ color:#666;}
.sort td a:hover 
{
    /*color:#f00*/
    color:#10ade4;
}
.wrapleft{ width:100%; float:left;}
.wrapright{ width:164px; padding-top:41px; float:right;}
.wrapright h4{font-size:14px;border-bottom:1px solid #f1f1f1;padding:11px 0 10px;margin:0 0 15px}
.top1{margin-bottom:30px;display:block}.top1 li{width:50%;float:left;padding-bottom:15px;}
/* tabsarea */
.searchtab{padding:0 0 28px 10px;border-bottom:solid 2px #ff7200;margin:10px 0 0 0}
.searchtab li,.searchtab li a{background-image:url(/content/fenlei/assets/images/list/sprites.png?v=0607)!important;background-repeat:no-repeat}
.searchtab li{float:left;display:inline-block;padding:0 2px 0 0;background-position:right -123px;margin:3px 4px 0 0;height:25px;color:#333}
.searchtab a:hover{text-decoration:none;color:#f00}
.searchtab li a{display:inline-block;padding:0 8px 0 10px;height:25px;line-height:25px;line-height:2\9;overflow:hidden;font-size:14px;background-position:0 -148px; color:#000}
.searchtab .select{background:url() no-repeat right -67px #fd7a0e;margin-top:0;height:28px;}
.searchtab .select:hover{color:#fff}
.searchtab .select a{background-position:0 -95px;height:28px;line-height:28px;line-height:32px\9;color:#fff; font-weight:700}
.searchtab li.pubbtn{float:right; background:none; margin:0}.searchtab li.pubbtn a{background:none}
.searchtab li.more a{background-position:right -458px;padding-right:20px}

.silfsearch{ display:inline-block; padding:8px 10px 0;}
.silfkeyword{ border:1px solid #7996AE; height:18px; line-height:18px; color:#ccc; vertical-align:middle}
.silfbtn{ height:24px; padding:0 2px; vertical-align:middle}
#keyword1{width:150px; *width:148px; width:148px\9}
.biaoti{width:100%;font-size:14px;color:#666}.biaoti td{padding:12px 10px 0;}

.jiaoyoulist,.tbimg,.tblist{ width:100%;}
.jiaoyoulist td,.tbimg td,.tblist td{border-bottom:1px solid #ddd;border-top:1px solid #fff; padding:10px; line-height:25px; font-size:14px}
.tblist td{font-size:12px; padding:5px 10px;border-bottom:1px solid #f1f1f1;}
.tbimg td{font-size:12px; color:#585858}
.jiaoyoulist td.img,.tbimg td.img{width:80px;padding-right:5px}
.img a{vertical-align:middle;display:table-cell;*display:block;*font-size:39px; width:80px;height:60px;text-align:center;overflow:hidden}
.img img{vertical-align:middle;max-height:60px; max-width:80px; _height: expression(this.height > 60 ? '60px': true); _width: expression(this.width > 80 ? '80px': true);}
.jiaoyoulist td.tm{ font-size:12px; color:#585858;}a.lb{ text-decoration:underline; color:#585858;}a.lb:hover{ color:#f00}
.titlefont{ font-size:14px}.slash{font-family:"宋体";font-style:normal;color:#ccc}.tc{ text-align:center}
.lookmore{ text-align:center; font-size:16px; padding-top:47px;}.lookmore a{ text-decoration:underline; color:#f00; font-weight:bold}
.ads a{display:table-cell; overflow:hidden; float:left; clear:left}
.ads img {max-width:160px; _width: expression(this.width > 160 ? '160px': true); max-height:200px; _height: expression(this.height > 200 ? '200px': true); vertical-align:middle; overflow:hidden; float:none; text-align:center; border:none; border:1px solid #ccc; padding:1px; margin-bottom:10px;  overflow:hidden}

.sort td.dogclass{ line-height:30px;}
.sort td.dogclass a{ color:#666;}
.sort td.dogclass a:hover 
{
    /*color:#f00*/
    color:#10ade4;
}
.dogclass cite{ color:#ddd; padding:0 8px;}.sort td.dogclass a.redlink{ color:#f00}
.sixclass li.n{ padding-bottom:13px;}.sixclass h2.n{ padding-bottom:0;}
.jiaoyoulist td.price{ text-align:center; font-size:12px; color:#585858;}
.jiaoyoulist td.price strong,.jiaoyoulist td.price b{font-size:20px; color:#f00}
.tbimg .pred2{text-align:center; font-size:14px}
.tbimg td.pred{text-align:center; overflow:hidden}
.tbimg td.pred b{font-size:18px;color:#ff0000; line-height:100%}
.textlist{ width:100%; font-size:14px}
.textlist td{ padding:10px; border-bottom:1px solid #f1f1f1;border-top:1px solid #fff;}
.c_r{ color:#f00}.c_g{ color:green}
.textlist td.t{ font-size:12px;}.textlist td.t .t{ font-size:14px}

.isbiz{ color:#f00; display:inline-block; margin-right:2px;}
.tu{background:#6EB800; color:#fff;height:12px; line-height:12px;margin-left:2px;overflow:hidden; padding:1px; display:inline-block; margin-right:2px; vertical-align:middle; font-family:"宋体"}
.ding{background:#FF8800; color:#fff;height:12px; line-height:12px;margin-left:2px;overflow:hidden; padding:1px; display:inline-block; margin-right:2px; vertical-align:middle; font-family:"宋体"}
.unline i.red{background:#E22323; color:#fff;height:12px; line-height:12px;margin-left:2px;overflow:hidden; padding:1px; display:inline-block; margin-right:2px; vertical-align:middle; font-family:"宋体"; font-style:normal; font-size:12px}
.credit{ color:#f00; font-style:normal; font-weight:bold; font-size:18px; vertical-align:middle}
.wlticon{ display:inline-block; font-size:12px; color:#666; background:url(/content/fenlei/images/txbackground.gif) no-repeat -70px -290px; padding-left:16px;}

.searchjobhot{ width:100%; font-size:14px}
.searchjobhot td{border-top:1px solid #fff;border-bottom:1px solid #ddd; padding:10px 0;}
.searchjobhot .topline td,.silf{ background:url(/content/fenlei/assets/images/list/sprites.png) repeat-x 0 -1239px #fff;padding:0 10px; height:40px; line-height:21px;line-height:22px\0;border-bottom:solid 1px #e5e5e5;zoom:1; font-size:12px; color:#808080;border-top:none}
.silf{padding:0; line-height:100%}
/*添加右侧广告位*/
.cbleft{width:100%;float:left}
.cbright{width:162px; float:right; text-align:right}
.cbright img{width:155px; height:60px; border:none; margin-bottom:10px}
.hotcategory,.types{width:100%}
.mt10{margin-top:10px}
.hotcategory li{ width:14.2%;}
.types2 li{ width:252px; padding:0 10px 0 10px; float:left; overflow:hidden;}
.types2 li.n{ padding:0 0px 0 10px;}
.types2 h2{ font-size:14px; padding:20px 0 7px; border-bottom:1px solid #ddd;}
.types2 p{ width:100%; line-height:24px; height:48px; padding-top:3px; overflow:hidden;}
.types p a,.types2 p a{ color:#666; float:left; white-space:nowrap}.types2 p a.red{color:#f00;}.types2 p a:hover{ color:#f00;}.types2 cite{ padding:0 8px; *padding:0 7px; color:#e8dde8; float:left;}
.pd10{padding-left:10px;padding-top:8px;}.pt{padding:20px 0 0 10px;*padding:10px 0 0 10px;font-size:14px;}.bt{padding:15px 0 0 10px; border-top:1px solid #ddd;margin-top:40px;}