body
{
    text-align:center;
    line-height:200%;
    font-size:14px; 
    font-family:Arial, "宋体" , sans-serif;
    background:#fcfcfc;
    margin:0px;
}
img
{
    border:none;
}
a
{
    text-decoration:none;
}
/*Header*/
#header
{
    width:100%; 
    /*border-bottom:2px solid #ff7200*/
    border-bottom:2px solid #10ace5;
    background:#fff;
}
#headerinside
{
    height:240px;position:relative;width:990px; margin:0 auto;z-index: 10000
}
#logo 
{
    background-position:9px 63px;position:absolute;left:20px;top:97px; width:230px; padding-bottom:22px;
}
#postgg 
{
    background-position:0 -54px; width:443px; height:105px; position:absolute; right:-50px; bottom:0; line-height:26px; padding:105px 40px 0 60px; text-align:left; z-index:666
}
/*
#qianm
{
    background-position:-474px 0; width:70px; height:50px; position:absolute; left:220px; bottom:10px; display:inline-block; z-index:999
}
*/
#flashimg{position:absolute; width:300px; height:240px; overflow:hidden; left:292px; bottom:0; z-index:662}
#flashimg img{position:absolute; left:0px; bottom:0; background:#fff}

/*top city*/
.gray{color:#999}
.ml{margin-left:50px}.c{clear: both}.co16{clear:#0000cc; font-size:16px}
.index_bo{width:990px; margin:0 auto; text-align:left; overflow:hidden}
.topcity 
{
    /*background:url(../images/www/wsear.gif?2011425) repeat-x;*/
    width:100%; 
    margin-top:1px;
}
.topcity .index_bo
{
    border-bottom:1px solid #ccc; 
    padding:18px 20px; 
    width:970px; 
    padding-right:0
}
.topcity a{margin-right:8px; text-decoration:underline}
#citysear{ height:22px;line-height:22px; font-size:12px; padding-top:10px;white-space:nowrap;}
/*****/        
#alephNav
{
    width: 960px;
    /*height: 116px;*/
    display:inline-block;
}
#alephNav div
{
    width:39px; height:39px; 
    vertical-align:middle; 
    line-height:39px; 
    text-align:center; 
    font-size:35px; 
    float:left;
}
#alephNav div a
{
    text-decoration:none;
}

#nav
{
    width:965px; 
    overflow:hidden; 
    white-space:nowrap;
    display:inline-block;
    min-height:1100px;
}
#nav div
{
    width:965px; 
    /*height:600px;*/
    display:inline-block;
    white-space:normal;
    margin:0px;
    
}
#nav div dl
{
    text-align:left;
}
.clear
{
    clear:both;
}

/*城市列表*/
.cityList{width:960px; margin:0 auto; padding:10px 0px 10px 20px; clear:both;overflow:hidden;zoom:1}
.cityList dt{float: left;width: 30px;font-family: Arial, Helvetica, sans-serif; font-size: 16px;clear: both;font-weight: bold;margin: 0px;padding: 0px}
.cityList dd{float: left;width: 930px;margin-left: 0px;padding: 0px;margin-bottom: 10px}
.cityList dd a{font-size: 13px; margin-right:14px; white-space:nowrap}

.lr{color: #f00;text-decoration: underline}

/*cityBox*/
#cityBox
{
    position:absolute;
    text-align:center;
}
#cityBox .content
{
	cursor: pointer;
	background: #fcfcfc;
	background: -moz-linear-gradient(90deg, #bbb 0%, #fcfcfc 100%);
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0.0, #bbb), color-stop(1.0, #fcfcfc));
	border: 1px solid #999;
	overflow:auto;
	display:inline-block;
	width:200px; 
	height:200px;
}

#cityBox .intro {
		background-color: #333;
		color: #ddd;
		margin: 1em -10em;
		padding: 1em 10em;
		text-align: center;
		font-size: 0.9em;
	}

/* footer */
.footer{width:990px; margin:0 auto; text-align: center;border-top: 1px solid #ccc;padding: 15px 0px;font-size: 12px;line-height: 180%; overflow:hidden}
.footer a{font-size: 12px;color: #666;text-decoration: underline}